@using ImModel.ViewModel

@{
    var article = (ArticleViewModel)ViewBag.Article;
    ViewBag.Title = article.ArticleName;
}
<div id="page-preloader" class="page">
    <div class="content content-padded">
        <!-- 文章主体 -->
        <div class="article" id="thread-container">
            <input type="hidden" id="articleId" value="@article.Id">
            <div class="header">
                <h1>
                    <!-- 是否精华 -->
                    <i class="essence-mark"></i>
                    @article.ArticleName
                </h1>
                <div class="thread-info">

                    <span class="publish-time">@article.CreateTime.ToString("yy-MM-dd HH:mm")</span>
                </div>
            </div>
            <div class="articlecontent">
                @Html.Raw(article.Content == null ? "" : article.Content[0])
                
            </div>
            <div class="article-footer">
                <p>转载自:@article.Company</p>
                <img src="/Content/image/qrcode_for_gh_7f5be927b079_258.jpg" />
                <p>欢迎关注车酷公众账号</p>
            </div>
        </div>


    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            
            //加载css文件，重新布局文章的样式
            var link = document.createElement('link');
            link.type = 'text/css';
            link.rel = 'stylesheet';
            link.href = '/Content/thread.css';
            document.getElementsByTagName("head")[0].appendChild(link);
            //sui组件初始化
            $.init();
        });
    
    </script>
    }
