@using Common.DateTimeUtil
@using ImBLL
@using ImModel.ViewModel
@{
    var list = (List<ArticleViewModel>)Model;
    if (list != null && list.Count > 0)
    {
        foreach (var vm in list)
        {
            <li>
                <div class="img-box">
                    <a href="/Article/Index?id=@vm.Id" target="_blank">
                        <img src="@ImageUrlHelper.GetArticleImage(vm.CoverImage, 0)" class="upload">
                    </a>
                    @*<div class="about-count">
                        <span class="click"><i></i>4006</span>
                        <span class="comment"><i></i>37</span>
                        <span class="praise"><i></i>46</span>
                    </div>*@
                </div>
                <h4>
                    <a href="/Article/Index?id=@vm.Id" target="_blank">
                        @Html.Raw(vm.ArticleName)
                    </a>
                </h4>
                <div class="user-info">
                        <em>@vm.Company</em>
                    <span class="pub-time">@TUtil.DateFormatToString(vm.CreateTime)</span>
                </div>
            </li>
        }
    }
}
