@using ImPinker.Models
@{
    ViewBag.Title = "Search";
}

<div class="b_box_nocolor m1100">
    <div class="b_onepart b_twopart clearfix" style="display: block">
        <div class="b_oneyou rt">
            <!--列表左侧 start-->
            <div class="b_twoleft lt">
                <div class="b_hotcar  two_tit clearfix">
                    <h5><a href="http://www.fblife.com/html/gundong.html" target="_blank">我的收藏</a></h5>
                    <div class="b_twoxingshi rt" id="nes_relit">
                        <a href="javascript:void(0)" class="b_txshiact b_txshi"><em class="z_liebiao"></em>列表</a>
                        <a href="javascript:void(0)" class="b_txshi"><em class="z_wangge"></em>网格</a>
                    </div>
                </div>
                @Html.Partial("_TabListPartial")
                <!--资讯列表-->
                <div class="b_zxlistbor" id="today_news">
                    <div class="b_wanglie lt" id="wanggelb">
                        <!--列表形式-->
                        <div class="b_newsfang" id="zixun_list" style="display:block;">
                            <!--资讯列表---最新-->
                            <div class="zixunone" id="articleConten" style="display: block;">

                            </div>
                            <!--更多-->
                            <div class="b_zx_more clearfix">
                                <a href="javascript:void(0)" id="loadmore">更多&gt;&gt;</a>
                            </div>
                            <!--更多 end-->
                            <!--资讯列表---最新 end-->
                        </div>
                        <!--列表形式 end-->
                    </div>
                </div>
                <!--资讯列表 end---->
            </div>
            <!--列表左侧 end-->
            <!--资讯右侧 start-->
            @Html.Partial("_RightPartial");
            <!--资讯右侧 end-->
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var pageCount = @ViewBag.pageCount;
        var pageNum = 1;
        var jsonData=@Html.Raw(ViewBag.ArticleVms);
        
        $(document).ready(function() {
            //tab导航选中状态
            $("#tabList a").bind("click", function() {
                $("#tabList a").removeClass("b_twolcur");
                $(this).addClass("b_twolcur");
                search();
            });
            //页面加载完，tab选中状态
            var tabS=$.getUrlParam("tab");
            if (tabS!=null&&tabS.length>0) {
                $("#tabList a").removeClass("b_twolcur");
                $("#tabList a[txt=" + tabS + "]").addClass("b_twolcur");
            }
        }); 
    </script>
    <script src="~/Scripts/Search/search.js"></script>
    <script type="text/template1">
        <div class="row">
            <div class="b_zxtuwen">
                <a href="$ArticleUrl$" target="_blank">
                    <h1>$ArticleName$</h1>
                </a>
                <p>
                    <span>$Description$</span>
                    <span class="right">$CreateTime$</span>
                </p>
            </div>
        </div>
    </script>
}

