html,
body {
	background-color: #efeff4;
}

.mui-bar .mui-pull-left {
	padding-right: 5px;
	font-size: 28px;
	color: #444444;
}

.personal-top {
	width: auto;
	height: 200px;
	position: relative;
	padding-top: 30px;
}

.personal-top .head-img {
	width: 75px;
	height: 75px;
	position: relative;
	display: block;
	margin: 0 auto 10px;
}

.personal-top .head-img img {
	width: 70px;
	height: 70px;
	border: 3px solid #fff;
	border-radius: 50px;
}

.personal-top .username {
	font-size: 1.8rem;
	text-align: center;
	line-height: 25px;
	font-weight: 700;
	vertical-align: middle;
	position: relative;
	padding-right: 5px;
	padding-left: 5px;
}

.mui-control-content {
	background-color: white;
	min-height: 515px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}


/*article 样式  card 样式*/

.mui-card-title p {
	display: block;
	color: #6d6d72;
	font-size: 17px;
	margin-bottom: 5px;
}

.mui-table-view .mui-card {
	font-size: 14px;
	position: relative;
	overflow: hidden;
	margin: 0px;
	padding: 5px;
}

.mui-card-content .viewcount,
			.mui-media-body .viewcount {
				float: right;
			}
			
			.mui-card .mui-card-content-inner {
				position: relative;
				padding: 3px;
			}
.mui-card-content-inner .userinfo {
	margin-bottom: 1px;
}

.userinfo em {
	font-size: 13px;
}

/*card 样式*/

.mui-scroll .mui-card {
				margin: 0 0 5px 0;
			}
			
			.mui-card-header.mui-card-media {
				display: block;
				padding: 6px 0 6px 10px;
			}
			
			.mui-card-header.mui-card-media img {
				border-radius: 4px;
			}
			
			.mui-card-header .mui-media-body em {
				font-size: 15px;
			}
			
			.mui-card-header.mui-card-media .mui-media-body p {
				font-size: 11px;
				margin-top: 3px;
			}
			
			.mui-card .mui-card-content {
				padding: 5px 5px 5px 10px
			}
			
			.mui-card .mui-card-content p {
				margin-bottom: 0px;
			}
			
			.mui-card .card-location {
				color: #b5bebf;
				font-size: 13px;
				margin-top: 3px;
			}
			
			.mui-card .card-location .mui-icon {
				font-size: 15px;
			}
			
			.mui-card .mui-card-footer {
				padding: 4px 45px;
				min-height: 30px;
			}
			
			.mui-card-footer em {
				font-size: 10px;
			}