/*html,
body {
	background-color: #efeff4;
}*/

.mui-bar .mui-pull-left {
	padding-right: 5px;
	font-size: 28px;
	color: #444444;
}

.personal-top {
	width: auto;
	height: 200px;
	position: relative;
	padding-top: 60px;
}

.personal-top .head-img {
	width: 75px;
	height: 75px;
	position: relative;
	display: block;
	margin: 0 auto 10px;
}

.personal-top .head-img img {
	width: 70px;
	height: 70px;
	border: 3px solid #fff;
	border-radius: 50px;
}

.personal-top .username {
	font-size: 1.8rem;
	text-align: center;
	line-height: 25px;
	font-weight: 700;
	vertical-align: middle;
	position: relative;
	padding-right: 5px;
	padding-left: 5px;
}

.mui-control-content {
	background-color: white;
	min-height: 515px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}


/*标签切换*/

#sliderSegmentedControl .mui-scroll {
	position: inherit;
}


/*正在加载。。。 文字样式*/

.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}

/*article 样式 */

.mui-card-title p {
	display: block;
	color: #6d6d72;
	font-size: 17px;
	margin-bottom: 5px;
}

.mui-table-view .mui-card {
	font-size: 14px;
	position: relative;
	overflow: hidden;
	margin: 0px;
	padding: 5px;
}

.mui-card-content .viewcount,
.mui-media-body .viewcount {
	float: right;
}

.mui-card .mui-card-content-inner {
	position: relative;
	padding: 3px;
}

.mui-card-content-inner .userinfo {
	margin-bottom: 1px;
}

.userinfo em {
	font-size: 13px;
}


