/*标签切换*/

#sliderSegmentedControl .mui-scroll {
	position: inherit;
}


/*正在加载。。。 文字样式*/

.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}


/*针对该页面 对weibo 和article 的特殊样式调整*/
#scroll1 .mui-card-header>img:first-child {
	font-size: 0;
	line-height: 0;
	float: left;
	width: 34px;
	height: 34px;
}

.user_info {
	height: 39px;
}

.user_info .img-box {
	float: left;
	width: 33px;
	height: 33px;
}

.user_info .name {
	padding-left: 12px;
}

.user_detail .list_img .img-box {
	float: left;
	width: 90px;
	height: 90px;
	border-radius: 2px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.list_img .img-box img {
	float: left;
	border-radius: 2px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.mui-fullscreen .mui-segmented-control~.mui-slider-group {
	top: 0px;
}


/*针对该页面 对weibo 和article 的特殊样式调整--end*/


/*头部样式*/

.personal-top {
	width: auto;
	height: 200px;
	position: relative;
	padding-top: 60px;
}

.personal-top .head-img {
	width: 75px;
	height: 75px;
	position: relative;
	display: block;
	margin: 0 auto 10px;
}

.personal-top .head-img img {
	width: 70px;
	height: 70px;
	border: 3px solid #fff;
	border-radius: 50px;
}

.personal-top .username {
	font-size: 1.8rem;
	text-align: center;
	line-height: 25px;
	font-weight: 700;
	vertical-align: middle;
	position: relative;
	padding-right: 5px;
	padding-left: 5px;
}