<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
		<link rel="stylesheet" href="../../css/weibo.css" />
		<style type="text/css">
			#map {
				width: 100%;
				height: 300px;
				position: fixed;
				top: 40px;
				line-height: 200px;
				text-align: center;
				background: #FFFFFF;
			}
			
			.mui-icon-extra-heart {
				position: relative;
				float: right;
			}
			
			.mui-card-footer em {
				font-size: 15px;
			}
			
			.mui-scroll {
				margin-top: 300px;
			}
			
			.mui-scroll .mui-card {
				margin: 0 0 10px 0;
			}
			
			.mui-card .mui-card-content {
				padding: 5px 5px 5px 55px;
				overflow: visible;
				width: 15rem;
			}
			
			.media-pic-list {
				overflow: hidden;
				width: 20rem;
				margin-top: .4375rem;
			}
			
			.media-pic-list li {
				width: 8.75rem;
				height: 5.75rem;
			}
			
			.media-pic-list li img {
				height: 5.75rem;
				width: 8.75rem;
				vertical-align: text-bottom;
			}
			
			.mui-card .mui-card-content p {
				margin-bottom: 0px;
			}
			
			#mapSize {
				margin-top: 5px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">石景山游乐园</h1>
			<div id="mapSize" class="mui-switch mui-switch-mini mui-active mui-pull-right">
				<div class="mui-switch-handle"></div>
			</div>
		</header>
		<div class="mui-content">
			<div id="map">
				<p>地图加载中...</p>
			</div>
			<div id="pullrefresh" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="mui-card">
						<div class="mui-card-header mui-card-media">
							<img src="../../images/logo.png">
							<div class="mui-media-body">
								小Mf
								<p>发表于 2016-06-30 15:30</p>
							</div>
						</div>
						<div class="mui-card-content">
							<p>的dfdfdfdfdfdfdfd康</p>

							<div class="media-pic-list">
								<ul>
									<li>
										<img src="../../images/login-1.png" data-preview-src="" data-preview-group="1">
									</li>
									<li>
										<img src="../../images/muwu.jpg" data-preview-src="" data-preview-group="1">
									</li>
									<li>
										<img src="../../images/muwu.jpg" data-preview-src="" data-preview-group="1">
									</li>
									<li>
										<img src="../../images/muwu.jpg" data-preview-src="" data-preview-group="1">
									</li>
									<li>
										<img src="../../images/muwu.jpg" data-preview-src="" data-preview-group="1">
									</li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true,
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						callback: pullupRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						auto: true,
						callback: pullupRefresh
					}
				}
			});
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				var weiboid = self.weiboid;
				console.log(weiboid);
				getweibo(weiboid);
			});
			var pageNum = 1;
			var allCount = 0;
			var pageSize = 30;

			function getweibo(weiboid) {
				var url = 'http://api.myautos.cn/api/weibo/GetWeiBoById';
				var data = {
					weiboid: weiboid,
				};
				plus.nativeUI.showWaiting('正在加载');
				commonUtil.sendRequestGet(url, data, function(data) {
					plus.nativeUI.closeWaiting();
					if(data.IsSuccess == 1 && data.Data != null) {
						var weiboitem = data.Data;
						console.log(JSON.stringify(weiboitem));
						setPoint(weiboitem.Longitude, weiboitem.Lantitude);
					}
				});
			}

			function pullupRefresh() {
				mui.ajax('http://api.myautos.cn/api/WeiBo/GetWeiBoList', {
					data: {
						pageindex: pageNum,
						pageSize: pageSize
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'get', //HTTP请求类型
					success: function(data) {
						if(data.IsSuccess == 1 && data.Data != null && data.Data.length > 0) {
							var list = data.Data;
							var table = document.body.querySelector('.mui-scroll');
							for(var i = 0; i < list.length; i++) {
								var item = list[i];
								initWeiBoItem(table, item);
							}
						} else {
							mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
							return;
						}
						pageNum++;
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(); //参数为true代表没有更多数据了。
					},
					error: function(xhr, type, errorThrown) {
						mui('#pullrefresh').pullRefresh().endPullupToRefresh();
					}
				});
			}
			/**
			 * 添加数据
			 * @param {Object} table
			 * @param {Object} item
			 */
			function initWeiBoItem(table, item) {
				var img_1200style = 'style/weibo_1200';
				var img_600style = 'style/weibo_600';
				var img_24style = 'style/weibo_24_16';
				var img_36style = 'style/weibo_36_24';
				if(item.ContentValue == null || item.ContentValue == '') {
					return;
				}
				var li = document.createElement('div');
				li.className = 'mui-card';
				var headdiv = document.createElement("div");
				headdiv.className = 'mui-card-header mui-card-media';
				headdiv.innerHTML = '<img src="' + item.UserHeadImage + '"><div class="mui-media-body">' +
					item.UserName + '<p>发表于 ' + item.PublishTime + '</p></div>';
				var contentdiv = document.createElement("div");
				contentdiv.className = 'mui-card-content';
				if(item.Description != null && item.Description.length > 0) {
					contentdiv.innerHTML = '<p>' + item.Description + '</p>';
				}
				var imgs = item.ContentValue.split(',');
				var imgdiv = document.createElement("div");
				imgdiv.className = 'media-pic-list';

				var ul = document.createElement("ul");
				var imgHtmlStr = "";
				var imgclass = imgs.length > 1 ? "smallimage" : "bigimage";
				for(var i = 0; i < imgs.length; i++) {
					imgHtmlStr += '<li><img src="' + imgs[i] + '" data-preview-src="' + imgs[i].replace(img_24style, img_1200style) + '" data-preview-group="' + item.Id + '"></li>';
				}
				ul.innerHTML = imgHtmlStr;
				imgdiv.appendChild(ul);

				contentdiv.appendChild(imgdiv);
				var footdiv = document.createElement('div');
				footdiv.className = 'mui-card-footer';
				footdiv.innerHTML = '' +
					'<span class="mui-icon mui-icon-map" ><em>桂林黄果树</em></span>';
				li.appendChild(headdiv);
				li.appendChild(contentdiv);
				//li.appendChild(footdiv);
				table.appendChild(li);
			}
		</script>
		<script type="text/javascript">
			var em = null,
				map = null;
			var mapHeight = 0;
			// H5 初始化地图
			function setPoint(lon, lan) {
				em = document.getElementById("map");
				// 确保DOM解析完成
				if(!em || !window.plus || map) {
					return
				};
				var point = new plus.maps.Point(lon, lan);
				map = new plus.maps.Map("map", {
					position: "absolute"
				});
				map.centerAndZoom(point, 12);
			}
			// 改变地图大小
			//			function resizeMap() {
			//				if(mapHeight == 50) {
			//					em.style.height = "400px";
			//					mapHeight = 30;
			//					$(".mui-scroll").css("margin-top", "450px");
			//				} else {
			//					em.style.height = "200px";
			//					mapHeight = 50;
			//					$(".mui-scroll").css("margin-top", "250px");
			//				}
			//				map.resize();
			//			}

			document.getElementById("mapSize").addEventListener("toggle", function(event) {
				if(event.detail.isActive) {

					if(em && map) {
						console.log("你启动了开关");
						//map.show();
						em.style.height = "300px";
						map.resize();
						$(".mui-scroll").css("margin-top", "300px");
					}
				} else {
					if(em && map) {
						console.log("你关闭了开关");
						//map.hide();
						em.style.height = "100px";
						map.resize();
						$(".mui-scroll").css("margin-top", "100px");
					}
				}
			});
		</script>
		<script type="text/javascript">
		</script>
	</body>

</html>