<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
    <add name="CarsDataAutoHome" connectionString="server=101.200.175.157;database=CarsDataAutoHome;uid=sa;pwd=funnycar2015"/>
    <add name="ImPinker" connectionString="Data Source=101.200.175.157;Initial Catalog=ImPinker;Persist Security Info=True;User ID=sa;Password=funnycar2015"/>
  </connectionStrings>
  <appSettings>
    <!--获取车系SEO名及关注度接口-->
    <add key="seoUv" value="http://api.car.bitauto.com/carinfo/GetSerialInfo.ashx?dept=getcsuv"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--http请求，是否使用代理服务器-->
    <add key="IsUseProxy" value="false"/>
    <add key="SolrServer" value="http://101.200.175.157:8080/solr/impinker" />
  </appSettings>
  <log4net configSource="config\log4net.config"/>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
