html,
body {
	background-color: #fff;
}

nav {
	line-height: 4.0rem;
	position: relative;
	width: 90%;
	padding-top: 10px;
}

.head-title {
	/*font-size: 1.35rem;*/
	font-size: 30px;
	color: #454f5b;
	padding-left: 15px;	
	margin-bottom:5px;
	font-weight: bold;
	font-family: PingFangSC-Regular;
}

.head-page {
	float: right;
	font-size: 15px;
	color: #a8b5c4;
}

#head-page-num {
	font-size: 1.1rem;
	color: #202123;
}

.mui-scroll {
	background-color: #fff;
}


/*sliderName*/

.swiper-container .swiper-slide {
	width: 85%;
	margin-bottom: 10px;
}

.swiper-container .slider-item-coverimg {
	width: 100%;
	border-radius: 10px;
}

.swiper-container .user_info .head_div img {
	border-radius: 50%;
	margin: 3px 0;
	height: 35px;
	width: 35px;
}

.slider-title {
	line-height: 30px;
	position: relative;
	/*bottom: 0;
	left: 0;
	width: 100%;*/
	height: 30px;
	margin: 5px 0px;
	text-align: left;
	background-color: #fff;
	font-size: 20px;
	color: #454F5B;
	font-weight: bold;
	font-family: PingFangSC-Regular;
}


/*userdetail*/

.mui-card-header .head-img2 {
	font-size: 0;
	line-height: 0;
	float: left;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	line-height: 0.7rem;
}

.user_info {
	height: 50px;
	width: 100%;
	display: inline-block;
	position: relative;
}

.user_info .head_div {
	width: 20%;
	height: 1.5rem;
	float: left;
	line-height: 35px;
	max-width: 35px;
	height: 35px;
	margin-right: 10px;
}

.user_info .head_div img {
	border-radius: 50%;
	margin: 3px 0;
}

.user_news {
	width: 100%;
	margin-left: 20px;
}

.user_news .name {
	font-size: 1rem;
	color: #454f5b;
}

.user_detail {
	position: relative;
}

.user_detail .time {
	top: 0px;
	font-size: 0.8rem;
	color: #a1aebf;
	width: 40%;
	float: left;
}

.user_detail_right {
	/*width: 40%;*/
	float: right;
}

.user_detail .love2 {
	font-size: 12px;
	color: #9DABBC;
	text-align: -webkit-center;
	background: url(../../img/zan.png) no-repeat left;
	background-size: 16px;
	padding-left: 22px;
	padding-right: 15px;
}

.user_detail .comment2 {
	font-size: 12px;
	color: #9DABBC;
	background: url(../../img/pinglun.png) no-repeat left;
	background-size: 16px;
	padding-left: 22px;
	padding-right: 22px;
}


/*list 最上方的分割线样式*/

.mui-table-view:before {
	position: absolute;
	right: 15px;
	bottom: 0;
	left: 15px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #eceff4;
}


/*手机屏幕在414px时*/

@media only screen and (min-width:414px) {
	.mui-slider .mui-slider-group .mui-slider-item {
		height: 280px;
	}
}


/*1280分辨率以上（大于1200px）*/

@media screen and (min-width:1200px) {}


/*1100分辨率（大于960px，小于1199px）*/

@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.mui-slider .mui-slider-group .mui-slider-item {
		height: 280px;
	}
}


/*880分辨率（大于768px，小于959px）*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.mui-slider .mui-slider-group .mui-slider-item {
		height: 280px;
	}
}


/*720分辨率（大于480px，小于767px）*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.mui-slider .mui-slider-group .mui-slider-item {
		height: 250px;
	}
}