html,
body {
	/*background-color: #efeff4;*/
	background-color: #fff;
}

nav {
    height: 3rem;
    font-size: 1.35rem;
    line-height: 3rem;
    position: relative;
    width: 90%;
    background-color: #fff;
}
.head-title {
	font-size: 1.35rem;
    color: #454f5b;
    padding-left: 20px;
}
.mui-scroll{
	background-color: #fff;
}

/*sliderName*/
.mui-slider{
	top: 0px;
	bottom: 0px;
}
.mui-slider-group {
	background-color: #fff;
}
.mui-slider .mui-slider-group .mui-slider-item {
    font-size: 14px;
    position: relative;
    display: inline-block;
    width: 90%;
    /*height: 80%;*/
    vertical-align: top;
    white-space: normal;
    padding:0 0px 0 15px;
    background-color: #fff;
    height: 250px;
}

.slider-title {
    line-height: 30px;
    position: relative; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    margin: 5px 0px;
    text-align: left;
    opacity: .8;
    background-color: #fff;
    font-size: 20px;
	color: #454F5B;
}

/*userdetail*/
.mui-card-header .head-img2{
    font-size: 0;
    line-height: 0;
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    line-height: 0.7rem;
}


.user_info {
    height: 50px;
    width: 100%;
    display: inline-block;
    /*margin-left: 5%;*/
   position: relative;
}
.user_info .head_div {
	width:20%;
	height: 1.5rem;
	float: left;
	line-height: 35px;
    max-width: 35px;
    height: 35px;
    margin-right: 10px;
}
.user_info .head_div img{
	border-radius: 50%;
	margin: 3px;
}

.user_news{
	width:60%;
	/*float: right;*/
	margin-left: 20px;
}
.user_news .name{
	font-size:0.9rem;
	/*padding-left:0.5rem;*/
	color:#454f5b ;
}
.user_detail{
	position: relative;
}
.user_detail .time{
	/*position: absolute;*/
	top: 0px;
	font-size: 0.9rem;
	color: #a1aebf;
	/*padding-left:0.5rem;*/
}





/*.mui-table-view-cell {
	padding: 10px;
}

.mui-table-view .mui-media-object {
	line-height: 64px;
	max-width: 74px;
	height: 61px;
}

.mui-card-title p {
	display: block;
	color: #6d6d72;
	font-size: 17px;
	margin-bottom: 5px;
}


/*card 样式*/

.mui-table-view .mui-card {
	font-size: 14px;
	position: relative;
	overflow: hidden;
	margin: 0px;
	padding: 5px;
}

.mui-card-content-inner .userinfo {
	margin-bottom: 1px;
}

.userinfo em {
	font-size: 13px;
}

.mui-media-body .viewcount .mui-icon,
.mui-media-body .viewcount .mui-icon-extra {
	font-size: 13px;
}

.mui-card-content .viewcount,
.mui-media-body .viewcount {
	float: right;
}

.mui-card .mui-card-content-inner {
	position: relative;
	padding: 3px;
}

.mui-slider-title {
	height: 45px;
	line-height: 45px;
	opacity: 0.5;
	font-size: 18px;
}

.mui-slider-indicator {
	position: absolute;
	bottom: 12px;
	right: 20px;
	width: 100%;
	text-align: center;
	background: 0 0;
}*/