/*html,
body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}*/

.mui-card-header.mui-card-media {
	display: block;
	padding: 0px;
}

.thread-info img {
	width: 35px;
	height: 35px;
	border-radius: 8px;
	vertical-align: middle;
	overflow: hidden;
	margin-right: 2px;
}

.thread-info {
	margin: 10px 10px 10px 0px;
}

.thread-info .username {
	font-size: 16px;
}

.mui-content-padded p img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.mui-content {
	height: 100%;
	overflow: auto;
	padding-bottom: 50px;
}

#article_description {
	font-size: 15px;
}

.mui-bar-footer {
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden;
	padding: 4px 45px;
	width: 100%;
	min-height: 50px;
}

.mui-bar-footer .mui-btn {
	margin-bottom: 13px;
}

#composeText {
	margin-bottom: 5px;
}

.mui-bar-footer .mui-icon,
.mui-bar-footer .mui-icon-extra {
	padding-right: 30px;
}

.mui-content img {
	width: 100%;
}