#thread-container {
    margin: 0.2rem 0rem;
    height: auto;
    overflow: auto;
}
#thread-container .articlecontent {
    background: #fff;
    margin: 0.2rem;
    position: relative;
    padding: 0.2rem;
    font-size: 0.7rem;
}
.article .articlecontent img{
	width: 100%;
	height: auto;
}

.content-padded {
    margin: 0rem;
}

#thread-container .header {
    overflow: hidden;
    margin: 0.2rem;
    padding: 0.2rem;
    background: #fff;
    font-size: 1.2rem;
}
#thread-container h1{
    font-size: 22px;
	padding-top: 10px;
    margin: 0px 10px;
    height: auto;
    overflow: auto;
}
#thread-container  .publish-time{
    position: relative;
    float: right;
    margin: 0.2rem;
    padding: 0.2rem;
    font-size: 12px;
}

#thread-container  .article-footer {
    overflow: hidden;
    margin: 0.2rem;
    padding: 0.2rem;
    background: #fff;
    font-size: 12px;
}