<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<title></title>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">搜索</h1>
			<button type="button" class="mui-btn mui-btn-primary mui-pull-right" onclick="return false;">确认</button>
			
		</header>
		<div class="mui-content">
			<div class="mui-content-padded" style="margin: 5px;">
				<h5>请输入要搜索的内容：</h5>
				<div class="mui-input-row mui-search">
					<input type="search" class="mui-input-clear" placeholder="">
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
	</body>

</html>