<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>search</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<style>
			h5 {
				margin: 5px 7px;
			}
			
			.mui-input-row button {
				font-family: 'Helvetica Neue', Helvetica, sans-serif;
				line-height: 1.1;
				float: right;
				width: 35%;
				padding: 11px 15px;
			}
			
			.mui-input-row input {
				float: left;
				width: 83%;
				margin-bottom: 0;
				padding-left: 0;
				border: 0;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">搜索</h1>
		</header>
		<div class="mui-content">
			<div>
				<img src="../../images/logo.png" 
			</div>
			<div class="mui-content-padded" style="margin: 5px;">
				<div class="mui-input-row">
					<input type="text" placeholder="普通输入框">
					<button type="button" class="mui-btn mui-btn-primary" onclick="return false;">确认</button>&nbsp;&nbsp;
				</div>

			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>
	</body>

</html>