<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/setting/notify.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">消息</h1>
		</header>
		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll">
						<a class="mui-control-item mui-active" href="#item1mobile">
							新通知
						</a>
						<a class="mui-control-item" href="#item2mobile">
							全部
						</a>
					</div>
				</div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view" id="mui-table-view-1">

								</ul>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view" id="mui-table-view-2">
									<!--<li class="mui-table-view-cell">
										<div class="info-rows-2">
											<div class="info-box-2">
												<div class="img-box">
													<img src="../../images/logo1.png">
												</div>
												<div class="content noread">
													<div class="panel">
														<div class="wrap">
															<h6><em class="icon-red">New</em> 直播小张</h6>
															<p>北京未实名认证的手机卡被分批实施单向停</p>
															<strong class="date">3分钟前</strong>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li class="mui-table-view-cell">
										<div class="info-rows-2">
											<div class="info-box-2">
												<div class="img-box">
													<img src="../../images/logo1.png">
												</div>
												<div class="content">
													<div class="panel">
														<div class="wrap">
															<h6>直播小张</h6>
															<p>北京未实名认证的手机卡被分批实施单向停</p>

															<strong class="date">3分钟前</strong>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>-->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/javascript" src="../../js/commenConfig.js" ></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script src="../../js/mui.pullToRefresh.js"></script>
		<script src="../../js/mui.pullToRefresh.material.js"></script>
		<script type="text/template" id="notifyitem">
			<li class="mui-table-view-cell">
				<div class="info-rows-2" targettype="$TargetType$" targetid="$Target$" notifyid="$Id$">
					<div class="info-box-2">
						<div class="img-box">
							<img src="$SenderHeadUrl$">
						</div>
						<div class="content">
							<div class="panel">
								<div class="wrap">
									<h6>$SenderName$ $ActionName$ 你的 $TargetTypeName$ 《$TargetName$》</h6>
									<p>$ContentStr$</p>
									<strong class="date">$CreateTime$</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</script>
		<script type="text/template" id="notifyitem-noread">
			<li class="mui-table-view-cell">
				<div class="info-rows-2" targettype="$TargetType$" targetid="$Target$" notifyid="$Id$">
					<div class="info-box-2">
						<div class="img-box">
							<img src="$SenderHeadUrl$">
						</div>
						<div class="content noread">
							<div class="panel">
								<div class="wrap">
									<h6><em class="icon-red">New</em> $SenderName$ $ActionName$ 你的 $TargetTypeName$ 《$TargetName$》</h6>
									<p>$ContentStr$</p>
									<strong class="date">$CreateTime$</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</script>
		<script type="text/javascript" src="../../js/setting/setting_notify.js" ></script>
	</body>

</html>