<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/setting/notify.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">消息</h1>
		</header>
		<div class="mui-content">
			<div style="padding: 10px 10px;background-color: #fff;">
				<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
					<a class="mui-control-item mui-active" href="#item1">
						新通知（8）
					</a>
					<a class="mui-control-item" href="#item2">
						全部
					</a>
				</div>
			</div>
			<div style="background-color: #fff;" class="mui-slider-group">
				<div id="item1" class="mui-control-content mui-active">
					<div class="info-rows-2">
						<div class="info-box-2">
							<div class="img-box">
								<img src="../../images/logo1.png">
							</div>
							<div class="content">
								<div class="panel">
									<div class="wrap">
										<h6>直播小张</h6>
										<p>北京未实名认证的手机卡被分批实施单向停</p>

										<strong class="date">3分钟前</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="info-rows-2">
						<div class="info-box-2">
							<div class="img-box">
								<img src="../../images/logo1.png">
							</div>
							<div class="content noread">
								<div class="panel">
									<div class="wrap">
										<h6><em class="icon-red">New</em> 直播小张</h6>
										<p>北京未实名认证的手机卡被分批实施单向停</p>

										<strong class="date">3分钟前</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="item2" class="mui-control-content">
					<div id="item2-content">
						<div class="info-rows-2">
							<div class="info-box-2">
								<div class="img-box">
									<img src="../../images/logo1.png">
								</div>
								<div class="content noread">
									<div class="panel">
										<div class="wrap">
											<h6><em class="icon-red">New</em> 直播小张</h6>
											<p>北京未实名认证的手机卡被分批实施单向停</p>
											<strong class="date">3分钟前</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="loadmore">
						<p id="loadMore">加载更多...</p>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/template" id="notifyitem">
			<div class="info-rows-2" targettype="$TargetType$" targetid="$Target$" notifyid="$Id$">
				<div class="info-box-2">
					<div class="img-box">
						<img src="$SenderHeadUrl$">
					</div>
					<div class="content">
						<div class="panel">
							<div class="wrap">
								<h6>$SenderName$ $ActionName$ 你的 $TargetTypeName$ 《$TargetName$》</h6>
								<p>$ContentStr$</p>
								<strong class="date">$CreateTime$</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>
		<script type="text/template" id="notifyitem-noread">
			<div class="info-rows-2" targettype="$TargetType$" targetid="$Target$" notifyid="$Id$">
				<div class="info-box-2">
					<div class="img-box">
						<img src="$SenderHeadUrl$">
					</div>
					<div class="content noread">
						<div class="panel">
							<div class="wrap">
								<h6><em class="icon-red">New</em> $SenderName$ $ActionName$ 你的 $TargetTypeName$ 《$TargetName$》</h6>
								<p>$ContentStr$</p>
								<strong class="date">$CreateTime$</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>
		<script type="text/javascript">
			var allNotifyPage = 1;
			var allNotifyPageSize = 5;
			mui.init();

			mui.plusReady(function() {
				getNotify();
				getAllNotify(allNotifyPage, allNotifyPageSize);
				$("#loadMore").bind('click', function() {
					getAllNotify(allNotifyPage, allNotifyPageSize);
				});
			});

			///获取通知。 isnew=1时，表示获取新通知；isnew=0表示获取全部
			function getNotify() {
				var url = "http://api.myautos.cn/api/Notify/GetNewNotifyList";
				var data = {
					isread: 1
				};
				commonUtil.sendRequestWithToken(url, data, false, function(data) {
					if(data.IsSuccess == 1 && data.Data != null) {
						var list = data.Data;
						var template_notifyitem = $('script[id="notifyitem"]').html();
						for(var i = 0; i < list.length; i++) {
							var item = list[i];
							var tempStr = template_notifyitem.temp(item);
							$("#item1").append(tempStr);
						}
					}
				});
			}

			///获取所有通知。分页
			function getAllNotify(page, pagesize) {
				$("#loadMore").html("正在加载...");
				var url = "http://api.myautos.cn/api/Notify/GetAllNotifyList";
				var data = {
					page: page,
					pagesize: pagesize
				};
				commonUtil.sendRequestWithToken(url, data, false, function(data) {
					if(data.IsSuccess == 1 && data.Data != null) {
						console.log("122");
						var list = data.Data;
						var template_notifyitem = $('script[id="notifyitem"]').html();
						var template_notifyitem_noread = $('script[id="notifyitem-noread"]').html();
						for(var i = 0; i < list.length; i++) {
							var item = list[i];
							var tempStr = "";
							if(item.IsRead == 1) {
								tempStr = template_notifyitem.temp(item);
							} else {
								tempStr = template_notifyitem_noread.temp(item);
							}
							$("#item2-content").append(tempStr);
						}
						allNotifyPage++;
						$("#loadMore").html("加载更多...");
					}else{
						$("#loadMore").html("没有更多数据");
					}
				});
			}

			mui('.mui-content .mui-control-content').on('tap', '.info-rows-2', function() {
				var targettype = this.getAttribute('targettype');
				var targetid = this.getAttribute('targetid');
				var notifyid = this.getAttribute('notifyid');
				console.log(targettype);
				//标记为已读
				markRead(notifyid);
				$(this).remove();
				if(targettype == 1) {
					mui.openWindow({
						id: targetid,
						url: "../article/preview.html",
						show: {
							aniShow: "pop-in"
						},
						waiting: {
							autoShow: false
						},
						extras: {
							articleid: targetid, //扩展参数
							articlename: ""
						}
					});
				}
				if(targettype == 2) {
					mui.openWindow({
						id: targetid,
						url: "../weibo/weibo_preview.html",
						show: {
							aniShow: "pop-in"
						},
						waiting: {
							autoShow: false
						},
						extras: {
							weiboid: targetid //扩展参数
						}
					});
				}
			});
			//标记为已读
			function markRead(targetid) {
				var url = "http://api.myautos.cn/api/Notify/UpdateNotifyState";
				var data = {
					NotifyId: targetid,
					IsRead: 1
				};
				console.log("markread" + targetid);
				commonUtil.sendRequestWithToken(url, data, true, function(data) {
					console.log(JSON.stringify(data));
				});
			}
		</script>
	</body>

</html>