<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">通知</h1>
		</header>
		<div class="mui-content">
			<div class="mui-card">
				<ul class="mui-table-view" id="notifylist">
					<li class="mui-table-view-cell">Item 1 <span class="mui-badge mui-badge-primary">14</span></li>
					<li class="mui-table-view-cell">Item 2 <span class="mui-badge mui-badge-success">1</span></li>
					<li class="mui-table-view-cell">Item 3 <span class="mui-badge">5</span></li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							<span class="mui-badge mui-badge-danger">15</span> Item 1
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							<span class="mui-badge mui-badge-purple">5</span> Item 2
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							<span class="mui-badge mui-badge-warning">5</span> Item 3
						</a>
					</li>
				</ul>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/template" id="notifyitem">
			<li class="mui-table-view-cell" targettype="$TargetType$" targetid="$Target$">$SenderName$ $ActionName$ 你的 $TargetTypeName$ 《$TargetName$》<span class="mui-badge mui-badge-success">1</span></li>
		</script>
		<script type="text/javascript">
			mui.init();

			mui.plusReady(function() {
				getNotify();
			});

			function getNotify() {
				var url = "http://api.myautos.cn/api/Notify/GetNewNotifyList";
				var data = {};
				commonUtil.sendRequestWithToken(url, data, false, function(data) {
					if(data.IsSuccess == 1 && data.Data != null) {
						var list = data.Data;
						var template_notifyitem = $('script[id="notifyitem"]').html();
						for(var i = 0; i < list.length; i++) {
							var item = list[i];
							console.log(JSON.stringify(item));
							var tempStr = template_notifyitem.temp(item);
							$("#notifylist").append(tempStr);
						}
					}
				});
			}

			mui('#notifylist').on('tap', 'li', function() {
				var targettype = this.getAttribute('targettype');
				var targetid = this.getAttribute('targetid');
				console.log(targettype);
				if(targettype == 1) {
					mui.openWindow({
						id: targetid,
						url: "../article/preview.html",
						show: {
							aniShow: "pop-in"
						},
						waiting: {
							autoShow: false
						},
						extras: {
							articleid: targetid, //扩展参数
							articlename: articlename
						}
					});
				}
				if(targettype==2){
					mui.openWindow({
						id: targetid,
						url: "../weibo/weibo_preview.html",
						show: {
							aniShow: "pop-in"
						},
						waiting: {
							autoShow: false
						},
						extras: {
							weiboid: targetid //扩展参数
						}
					});
				}
			});
		</script>
	</body>

</html>