<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/setting/setting.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">账号与安全</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a id="head" class="mui-navigate-right">头像
						<span class="mui-pull-right head">
				<img class="head-img mui-action-preview" src="" id="head-img"/>
						</span>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a>姓名<span id="username" class="mui-pull-right">Hbuilder</span></a>
				</li>
				<!--<li class="mui-table-view-cell">
					<a>HBuilder账号<span class="mui-pull-right">hbuilder@dcloud.io</span></a>
				</li>-->
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a>QQ号<span class="mui-pull-right">88887777</span></a>
				</li>
				<li class="mui-table-view-cell">
					<a>手机号<span id="phonenum" class="mui-pull-right">18601234567</span></a>
				</li>
				<li class="mui-table-view-cell">
					<a>邮箱地址<span id="emailstr" class="mui-pull-right">hbuilder@dcloud.io</span></a>
				</li>
			</ul>

		</div>

		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/mui.zoom.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/javascript" src="../../js/commenConfig.js" ></script>
		<script type="text/javascript" src="../../js/setting/setting_account.js" ></script>
	</body>

</html>