@using ImBLL
@using ImModel
@{
    var writer = (Users)ViewBag.Writer;
}

    <div class="user-info">
        <a href="/lookat/home?userId=151935" target="_blank" class="headpic">
            <i style="background-image: url(@ImageUrlHelper.GetHeadImageUrl(writer.ImgUrl, 100)); background-repeat: no-repeat; background-position: center;">

            </i>
            <em>@writer.UserName</em>
        </a>

        <ul>
            <li>
                关注

                <a href="/lookat/friend?userId=151935" target="_blank">0</a>


            </li>
            <span class="line"></span>
            <li>
                粉丝
                <a href="/lookat/fins?userId=151935" target="_blank">3</a>
            </li>
            <span class="line"></span>
            <li>
                作品
                <a href="/lookat/home?userId=151935" target="_blank">3</a>
            </li>
        </ul>
        <div class="button-area" userid="151935">
            <a href="javascript:;" class="white-button follow-btn" userid="151935" type="0"><i></i>关注</a>
            <a href="javascript:;" class="white-button private-btn message-button" userid="151935"><i></i>发私信</a>
        </div>
    </div>
   
