@{
    ViewBag.Title = "个人中心-EngineStart";

    <link href="~/Content/usercenter.css" rel="stylesheet" />
}
<div id="header" style="height: 0">

</div>
<div id="container" style="min-height: 557px;">
    @Html.Partial("UserCenter_NavPartial")
    <div class="usercenter-right">

        <div class="my-thread" style="margin-top: 0px">
            <input type="hidden" value="1">
            <input type="hidden" value="0">
            <h3 class="small-title">
                所有帖子
                <em>共有0篇</em>
                <div class="filter">
                    <a href="javascript:;" class="current-filter">
                        所有帖子
                        <em></em>
                    </a>
                    <ul>
                        <li><a href="/center/thread?orderid=1&amp;typeid=2">精华帖子</a></li>
                        <li><a href="/center/thread?orderid=1&amp;typeid=3">被选题收录</a></li>
                        <li><a href="/center/thread?orderid=1&amp;typeid=4">被焦点图收录</a></li>
                    </ul>
                </div>
                <!-- <em>共有0篇帖子</em> -->
                <div class="comment-nav">


                    <a href="javascript:;" style="color:#2175d0">



                        最新发布
                    </a>
                    <span></span>



                    <a href="/center/thread?orderid=2&amp;typeid=0">


                        点击最高
                    </a>
                    <span></span>
                    <a href="/center/thread?orderid=3&amp;typeid=0">
                        评论最多
                    </a>
                </div>
            </h3>
            <ul class="my-thread-list" id="articleConten">

                <h2 style="display: none;font-size: 30px;color: #ccc; text-align: center; margin: 163px 0px;">这里空空如也</h2>




            </ul>

        </div>

    </div>

</div>
@section scripts
{
    <script type="text/javascript">
        var pageCount = @ViewBag.pageCount;
        var pageIndex = 1;
        var jsonData=@Html.Raw(ViewBag.jsonData);
    </script>
    <script src="~/Scripts/Article/myArticle.js"></script>
    <script type="text/template1">
        <li>
            <div class="b_zxtuwen">
                <a href="$Url$" target="_blank">
                    <h4>$ArticleName$</h4>
                </a>
                <p>
                    <span>$Description$</span>
                    <span class="right">$CreateTime$</span>
                </p>
            </div>
        </li>
    </script>
}

