<footer class="container">
    <ul class="nav navbar-nav">
        <li><a href="javascript:;"> &copy; @DateTime.Now.Year - 转动科技-Engine Start </a></li>
        <li> @Html.ActionLink("关于", "About", "Home") </li>
        <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
    </ul>
</footer>