<a id="maodian" style="display:block; height:0; width:0; line-height:0; font-size:0"></a>
<div id="header">
    <div class="header-row-1">
        <div class="header-container">
            <div class="header-row-1-col-1">
                @Html.ActionLink("MyAutos —— 爱车人的圈子", "Index", "Home", null, new { @class = "navbar-right" })
            </div>
            <ul class="header-row-1-col-2">
                <li class="nav-shop" ms-controller="wrap">
                @Html.ActionLink("旅行", "About", "Home")</li>
                <li class="nav-interest">
                    <a href="/interest/home?isallinterest=1&amp;interestType=0&amp;creatorTime=2&amp;isEssence=0&amp;commentCountMax=0&amp;clickMax=0">兴趣</a>
                </li>
                <li class="nav-follow"><a href="/concerns/myConcernsThreadList">关注的人</a></li>
                <li class="nav-ranklist"><a href="/rank/list">排行榜</a></li>
            </ul>
            <div class="header-row-1-col-4">
                <div class="user-info-box">
                    @Html.Partial("_LoginPartial")
                </div>
                <a href="http://xbshop.xxxxxbbs.com" target="_blank" class="xbshop-btn"><i></i>兑换中心</a>
            </div>

            <div class="header-row-1-col-3">
                <div class="search-box">
                    <a href="javascript:;" class="search-btn" ></a>
                    <input type="hidden" id="keyword002" value="airx A7空气净化器">
                    <input type="text" id="searchterm" placeholder="airx A7空气净化器" autocomplete="off">
                    <div class="search-record">
                        <span><em></em><i></i></span>
                        <div class="search-record-box">
                            <ul></ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="header-row-2">
        <div class="header-container">

            <a href="/thread/input" class="side-pub-thread" target="_blank" style="opacity: 1; right: auto;"></a>

            <a class="logo" href="/"></a>
            <ul class="navigator">
                <li>
                    <form>
                        <input type="text" id="searchinput" placeholder="airx A7空气净化器">
                        <a class="search-submit-btn">
                            <i class="search-icon"></i>
                            搜索
                        </a>
                    </form>
                </li>
                
                <li class="followpage"><a href="/concerns/myConcernsThreadList">关注的人</a></li>
                <li class="rankpage"><a href="/rank/list">排行榜</a></li>
                <li class="centerpage" style="border-right: 1px solid #dfdfdf; padding-right: 15px"><a href="/center/home">个人中心</a></li>
                
            </ul>
            <div class="side-bar" style="bottom: 20px; opacity: 1; right: auto;">
                @*<div class="down-app">
                <a href="/html/app.html" target="_blank" class="app">
                    <em>下载客户端</em>
                    <i></i>
                </a>
            </div>*@
                <a href="#maodian" class="go-top">
                    <em>返回顶部</em>
                </a>
            </div>
        </div>
    </div>
</div>


<div style="display: none" id="searchKey"></div>
<script type="text/javascript">
    var state = "@Html.Raw(Request.IsAuthenticated)";  //全局变量，标记是否登录
    var LoginState = false;//;
    if (state=="True") {
        LoginState = true;
    } else {
        LoginState = false;
    }
    
    //返回顶部按钮绑定事件
    $(document).ready(function () {

        $(window).scroll(function () {
            var top = $(document).scrollTop();
            if (top > 300) {
                $(".side-bar").fadeIn();
            } else {
                $(".side-bar").fadeOut();
            }
        });
    });

</script>