@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        <div class="user-info-box">
            <a href="/UserCenter/Index" class="header-username">
                <span class="line-left">@User.Identity.GetUserName()</span>
                <em></em>
            </a>
            <a href="javascript:document.getElementById('logoutForm').submit()" class="header-username">注销</a>
            </div>
    }
}
else
{
    <div class="user-info-box">
        @Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="header-username"})
        @Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" ,@class="header-username"})
    </div>
   
}
