@using Microsoft.AspNet.Identity

<!--nav-->
<div class="b_nav">
    <div class="b_navcon clearfix">
        <ul class="clearfix" id="nav_chanel">
            <li class="current">
                <a href="http://newcar.fblife.com" class="lan yijia" target="_blank">新车</a>
            </li>
            <li class="">
                <a href="http://guide.fblife.com" class="hong yijia" target="_blank">导购</a>
            </li>
            <li class="">
                <a href="http://drive.fblife.com" class="hui yijia" target="_blank">试驾</a>
            </li>

            <li class="">
                <a href="http://culture.fblife.com" class="lv yijia" target="_blank">文化</a>
            </li>
            <li class="">
                <a href="http://restyle.fblife.com" class="fen yijia" target="_blank">改装</a>
            </li>
            <li class="">
                <a href="http://tour.fblife.com" class="qianlan yijia" target="_blank">旅行</a>
            </li>
            <li class="b_nav_put"><a href="http://rv.fblife.com" class="yijia" target="_blank">房车</a></li>
            <li class="">
                <a href="http://sports.fblife.com/" class="red-hong yijia" target="_blank">赛事</a>
            </li>
            <li class="b_nav_put"><a href="http://car.fblife.com/tuan" class="yijia" target="_blank">团购</a></li>
            <li class="b_nav_put"><a href="http://event.fblife.com" class="yijia" target="_blank">活动</a></li>
            <li class="b_nav_put"><a href="http://photo.fblife.com" class="yijia" target="_blank">图片</a></li>
            <li class="b_nav_teshu mlten">
                <a href="http://carport.fblife.com/" class="yijia" target="_blank">
                    <cite class="car_ku"></cite>
                    <span>车库</span>
                </a>
            </li>
            <li class="b_nav_teshu">
                <a href="http://v.fblife.com" class="yijia" target="_blank">
                    <cite class="o_shipin"></cite>
                    <span>视频</span>
                </a>
            </li>
            <li class="b_nav_teshu">
                <a href="http://bbs.fblife.com/" class="yijia" target="_blank">
                    <cite class="o_shequ"></cite>
                    <span>社区</span>
                </a>
            </li>
            <li class="b_nav_teshu lenxingqiu">
                <a href="http://www.auto.life" class="yijia" target="_blank">
                    <cite class="o_xingqiu"></cite>
                    <span>汽车星球</span>
                </a>
            </li>
            <li class="b_nav_teshu" id="b_nvmore">
                <a href="javascript:void(0)" class="yijia b_navmore">
                    <em class="b_nateduo lt">更多</em>
                    <span class="fb-horn"></span>
                </a>
                <div class="b_hescgd">
                    <a href="http://news.fblife.com" target="_blank">行业</a>
                    <a href="http://tieqi.fblife.com" target="_blank">铁骑</a>
                    <a href="http://use.fblife.com/" target="_blank">用车</a>
                    <a href="http://depreciate.fblife.com" target="_blank">降价</a>
                    <a href="http://culture.fblife.com/channels/jishu.html" target="_blank">技术</a>
                    <a href="http://culture.fblife.com/channels/gongyi.html" target="_blank">公益</a>
                    <a href="http://tour.fblife.com/channels/youji.html" target="_blank">游记</a>
                    <a href="http://tour.fblife.com/channels/sheying.html" target="_blank">摄影</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--nav end-->