@model dynamic

@{
    ViewBag.Title = "发新贴";

    <link href="~/Content/thread.css" rel="stylesheet" />
    <link href="~/Scripts/webUpload/webuploader.css" rel="stylesheet" />
    <script src="~/Scripts/webUpload/webuploader.html5only.js"></script>
}

<div id="container">
    <h5 class="crumb"><em>当前位置：</em><a href="/index">首页</a>&gt;<a href="../">话题列表</a>&gt;阅读话题</h5>
    @using (Html.BeginForm("CreateThread", "Article", FormMethod.Post))
    {
        <input type="text" name="ArticleName" placeholder="请输入标题" id="threadName" style="font-size: 24px; padding: 20px ; margin-bottom: 30px; width: 100%; " />
        <div class="small-topic-article" style="padding: 0">
            <script id="contain" name="Content" type="text/plain" style="width: 100%; height: 800px;">
            </script>
        </div>
        <div id="uploader" class="wu-example">
            <!--baiduUploader 上传图片-->
            <div class="btns">
                <div id="picker">设置封面图</div>
                @*<button id="ctlBtn" onclick="return uploadImage()" class="btn btn-default">开始上传</button>*@
            </div>
            <div id="thelist" class="uploader-list"></div>
        </div>
        <br />
        <img id="preview180" src="" style="width: 300px; height: 300px" />
        <input type="hidden" name="Coverimage" id="imgPath" />
        <hr />
        @Html.ValidationSummary()
        <div class="topic-list">
            <input id="btn_publish" type="submit" style=" background: #2175d0; clear: both; display: block; width: 1100px; line-height: 30px; font-size: 14px; color: #fff;  border-radius: 5px; text-align: center; margin: 10px auto; " value="发布" />
        </div>
    }

</div>

@section scripts
{
    <script src="/UeEditer/ueditor.config.js"></script>
    <script src="/UeEditer/ueditor.all.js"></script>
    <script src="/UeEditer/ueditor.parse.js"></script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="/UeEditer/lang/zh-cn/zh-cn.js"></script>
<script src="~/Scripts/webUpload/uploadImg.js"></script>
    <script type="text/javascript">
        //发布帖子
        $(document).ready(function () {
            var ue = UE.getEditor('contain');
            $("#btn_publish").bind("click", function () {
                var flag = ue.hasContents();
                if (flag) {
                    var content = ue.getContent();
                    var articleName = $("#threadName").val();
                    return true;
                    $.ajax({
                        url: "/Article/CreateThread",
                        type: "post",
                        data: { name: articleName, content: content },
                        success: function (data) {
                            alert("bingo！");
                        },
                        error: function (data) {
                            alert(data);
                        }
                    });
                }
            });
        });

        
        
    </script>
}

