@using BLL

@{
    var article = (Model.Article)ViewBag.Article;
    ViewBag.Title = article.ArticleName;
}

<div class="b_box_nocolor m1100">
    <div class="b_onepart b_twopart clearfix" style="display: block">
        <div class="b_oneyou rt">
            <!--列表左侧 start-->
            <div class="b_twoleft lt">
                @Html.Partial("_TabListPartial")
                <div class="con_l clearfix">
                    <div class="tit">
                        <h1>@article.ArticleName</h1>
                        <div class="tit_xia clearfix">
                            <p>
                                <span><i class="tit_time"></i>2016-08-09 16:31:27</span><span>来源：<i><a href="http://www.fblife.com/" target="_blank">越野e族</a></i></span><span>
                                                                                                                                                                       </span>
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="con_neir clearfix" id="con_weibo">
                        @Html.Raw(article.Content)
                    </div>

                    <!-- 新闻详情页原帖推荐 -->
                    <!-- 新闻详情页原帖推荐end -->
                    <!--分页-->
                    <!-- 等待加载图片-->
                    <!--分页 end-->

                    <div class="f_wzkeywords_pad clearfix">
                        <div class="f_wzkeywords">
                            <span>文章关键词：</span>
                            <p>
                                <!-- str_replace(' ', '&nbsp;', $info) -->

                                <a href="http://news.fblife.com/tags_内蒙.html" target="_blank">内蒙</a>


                                <a href="http://news.fblife.com/tags_蒙古.html" target="_blank">蒙古</a>


                                <a href="http://news.fblife.com/tags_乌兰巴托.html" target="_blank">乌兰巴托</a>


                                <a href="http://news.fblife.com/tags_mu X.html" target="_blank">mu X</a>


                                <a href="http://news.fblife.com/tags_自驾.html" target="_blank">自驾</a>


                                <a href="http://news.fblife.com/tags_俄罗斯.html" target="_blank">俄罗斯</a>


                                <a href="http://news.fblife.com/tags_贝加尔湖.html" target="_blank">贝加尔湖</a>

                            </p>
                        </div>
                        <div class="f_wzyo rt">
                            责任编辑：王曙光
                        </div>

                    </div>
                 <div class="tit_xadd">
                        <!-- 资讯内页回复区通栏 -->
                        <script language="JavaScript1.1" src="http://cast.aim.yoyi.com.cn/afp/door/;ap=v4ae620cac2566500001;ct=js;pu=n1428243fc09e7230001;/?">
                        </script><a href="http://cast.aim.yoyi.com.cn/afp/wayl/;ad=w76113b8261e01780001;ap=v4ae620cac2566500001;as=z76116cd44b990c90001;pu=n1428243fc09e7230001;/?http://news.fblife.com/html/20160613/172953.html" target="_blank"><img src="http://cmstest.fblife.com/attachments/20160715/146856403692446.jpg" border="0" width="760" height="90"></a>
                        <noscript>
                            &lt;IFRAME SRC="http://cast.aim.yoyi.com.cn/afp/door/;ap=v4ae620cac2566500001;ct=if;pu=n1428243fc09e7230001;/?" NAME="adFrame_v4ae620cac2566500001" WIDTH="760" HEIGHT="90" FRAMEBORDER="no" BORDER="0" MARGINWIDTH="0" MARGINHEIGHT="0" SCROLLING="no"&gt;
                            &lt;/IFRAME&gt;
                        </noscript>
                        <!-- 资讯内页回复区通栏/End -->
                    </div>
                </div>
            </div>
            <!--列表左侧 end-->
            <!--资讯右侧 start-->
            @Html.Partial("_RightPartial");
            <!--资讯右侧 end-->
        </div>
    </div>
</div>

