@using BLL

@{
    var article = (SolrSearchBll.ArticleViewModel)ViewBag.Article;
    ViewBag.Title = article.ArticleName;
}

<div class="b_box_nocolor m1100">
    <div class="b_onepart b_twopart clearfix" style="display: block">
        <div class="b_oneyou rt">
            <!--列表左侧 start-->
            <div class="b_twoleft lt">
                @Html.Partial("_TabListPartial")
                <div class="con_l clearfix">
                    <div class="tit">
                        <h1>@article.ArticleName</h1>
                        <div class="tit_xia clearfix">
                            <p>
                                <span><i class="tit_time"></i>2016-08-09 16:31:27</span><span>来源：<i><a href="http://www.fblife.com/" target="_blank">越野e族</a></i></span><span>
                                                                                                                                                                       </span>
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="con_neir clearfix" id="con_weibo">
                        <div class="testdiv" style="text-align:left;margin-top:20px;margin-bottom:20px;"><p style="text-align:center;margin-top:20px;margin-bottom:20px;"><a href="http://img10.fblife.com/attachments/20160809/14707319287579.jpg" target="_blank"><img src="http://img10.fblife.com/attachments/20160809/14707319287579.jpg.690x0.jpg" style="float:none;"></a></p></div><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;"><strong>拉力赛道般的草原路：从满都拉到赛音山达的350km </strong></p><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;">从进入蒙古国后一直到东戈壁省的首府赛音山达市之前，我们便再也没有走过柏油路，不是不想走，而是根本没有铺装路；这中间的三百多公里都是半戈壁半草原，都是当地的牧民开车出入长期形成的自然路，而且这段路在去年就是中蒙俄拉力赛的赛道，今年的中蒙赛也将继续使用这三百多公里作为赛段。</p><div class="testdiv" style="text-align:left;margin-top:20px;margin-bottom:20px;"><p style="text-align:center;margin-top:20px;margin-bottom:20px;"><a target="_blank" href="http://img10.fblife.com/attachments/20160809/14707319642032.jpg"><img src="http://img10.fblife.com/attachments/20160809/14707319642032.jpg.690x0.jpg"></a></p></div><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;">负责蒙方地接的车辆是一台黑色的LC200，开车的人名字叫吉雅，他的车辆明显做了改装升高，前后都更换了FOX的减震器，装的轮胎型号是33吋+ 级别的255／85R16的百路驰MUT，这明显远远超过了原车的通过性能；后来打听了才知道人家是跑了好多次中蒙俄拉力赛的，在蒙古国是个很有名的车手，据说是全蒙古国玩车的人都认识他。</p><div class="testdiv" style="text-align:left;margin-top:20px;margin-bottom:20px;"><p style="text-align:center;margin-top:20px;margin-bottom:20px;"><a href="http://img10.fblife.com/attachments/20160809/14707320473306.jpg" target="_blank"><img src="http://img10.fblife.com/attachments/20160809/14707320473306.jpg.690x0.jpg" style="float:none;"></a></p></div><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;">吉雅的身份和他这部车的架势明显让人感觉后面的这三百多公里不会轻松，这是在抵达赛音山达后拍摄的图片。</p><div class="testdiv" style="text-align:left;margin-top:20px;margin-bottom:20px;"><p style="text-align:center;margin-top:20px;margin-bottom:20px;"><a href="http://img10.fblife.com/attachments/20160809/14707320745957.jpg" target="_blank"><img src="http://img10.fblife.com/attachments/20160809/14707320745957.jpg.690x0.jpg" style="float:none;"></a></p></div><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;">大家在蒙古尘土飞扬的砂石路上寒暄几句后，我们决定赶快出发，因为后面的三百多公里迷宫般的草原路很不好走，而且一旦跟不上前面向导车就很容易迷路；吉雅说他会稍微慢点，但多年来的经验告诉我赛车手说自己会慢点的话千万别信，因为这是不可能的。</p><div class="testdiv" style="text-align:left;margin-top:20px;margin-bottom:20px;"><p style="text-align:center;margin-top:20px;margin-bottom:20px;"><a href="http://img10.fblife.com/attachments/20160809/14707321014407.jpg" target="_blank"><img src="http://img10.fblife.com/attachments/20160809/14707321014407.jpg.690x0.jpg" style="float:none;"></a></p></div><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;">果不其然，吉雅开着他的V8柴油路巡一上路就只剩下一个不断行走飘散的灰尘带；MUT轮胎的大牙齿在草原路上的抓地优势非常明显；蒙古的自然草原路经过牧民们长年的碾轧已经开始半固化，蒙古国南部的半戈壁半草原还夹杂着部分沙漠化地形，虽然看起来都很高速，但其实速度稍微快起来就很颠，非常容易发生飞跳，而如果控制住速度的话吉雅的头车几乎一瞬间就看不到了。</p><div class="testdiv" style="text-align:left;margin-top:20px;margin-bottom:20px;"><p style="text-align:center;margin-top:20px;margin-bottom:20px;"><a href="http://img10.fblife.com/attachments/20160809/14707321408960.jpg" target="_blank"><img src="http://img10.fblife.com/attachments/20160809/14707321408960.jpg.690x0.jpg" style="float:none;"></a></p></div><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;">无奈之下只好咬紧牙关紧紧盯住，距离稍远就会看不到他选的哪条路——因为蒙古草原上常常并列着很多的车辙，但每一条的路况并非相同，所以跟着有经验的头车就显得特别重要，如果你能看清他选的路，就会减少很多自己判断路况的麻烦，眼睛只要紧盯着前车的动态就可以避免很多的问题。</p><div class="testdiv" style="text-align:left;margin-top:20px;margin-bottom:20px;"><p style="text-align:center;margin-top:20px;margin-bottom:20px;"><a target="_blank" href="http://img10.fblife.com/attachments/20160809/14707321817356.jpg"><img src="http://img10.fblife.com/attachments/20160809/14707321817356.jpg.690x0.jpg"></a></p></div><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;">但即便如此紧盯还是跟丢了两次，因为进入夜幕后头车选择的道路如果航向差距不大就很容易走错小路口，等你发现不对劲的时候，前面的尾灯已经偏得很远了，这时才发现自己原来不是在一个车辙上，好在蒙古的戈壁上都很平坦，瞄准一条直线开过去也没啥问题，就是草原上有时候会有一些水冲沟需要提防，不然等待你的就是后排的惊叫咒骂，还有外加一车的行李腾空而起，那么多的坛坛罐罐砸落下来可不是好玩的。</p><div class="testdiv" style="text-align:left;margin-top:20px;margin-bottom:20px;"><p style="text-align:center;margin-top:20px;margin-bottom:20px;"><a href="http://img10.fblife.com/attachments/20160809/14707322266618.jpg" target="_blank"><img src="http://img10.fblife.com/attachments/20160809/14707322266618.jpg.690x0.jpg" style="float:none;"></a></p></div><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;"><strong>动物世界：赛音山达的露营</strong></p><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;">六个小时的颠簸之后，赛音山达的旅游度假营地接待了我们这群风尘仆仆远道而来的外国人；这个位于市郊的度假地都是蒙古包，敞开式的院落小径上散落着几个地灯，每一盏地灯都被千万只不同种群的飞虫和爬虫包围着；从它们旁边走过的时候难免会被骚扰的手忙脚乱。</p><div class="testdiv" style="text-align:left;margin-top:20px;margin-bottom:20px;"><p style="text-align:center;margin-top:20px;margin-bottom:20px;"><img src="http://img10.fblife.com/attachments/20160809/14707322581708.jpg"></p></div><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;">度假营地的院子里可以洗澡，这绝对是个好消息，一天燥热的风尘仆仆不冲个凉是很难受的；不过公共淋浴区只有三个喷头，热水器上是中文铭牌和LOGO，也不知道蒙古人民是不是看得懂，反正一天的劳累之后洗个忽冷忽热的澡也是不错的，只是本打算回到蒙古包里睡个好觉的想法却没法实现。</p><div class="testdiv" style="text-align:left;margin-top:20px;margin-bottom:20px;"><p style="text-align:center;margin-top:20px;margin-bottom:20px;"><a href="http://img10.fblife.com/attachments/20160809/14707322821030.jpg" target="_blank"><img src="http://img10.fblife.com/attachments/20160809/14707322821030.jpg.690x0.jpg" style="float:none;"></a></p></div><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;">因为蒙古包里实在是太热，即便是打开上面的通风窗也不行；本打算不盖被子就睡了，结果眯了一会居然有一只爬虫爬到身上，一阵的恶心之后决定自己到外面的草地上搭帐篷，至少这样不会被蚊虫干扰和捂得难受。</p><div class="testdiv" style="text-align:left;margin-top:20px;margin-bottom:20px;"><p style="text-align:center;margin-top:20px;margin-bottom:20px;"><a href="http://img10.fblife.com/attachments/20160809/14707323041525.jpg" target="_blank"><img src="http://img10.fblife.com/attachments/20160809/14707323041525.jpg.690x0.jpg" style="float:none;"></a></p></div><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;"><strong>（当时实在困得没拍，从网上找的图片，实际远比这个多）</strong></p><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;">在被千万只蒙古小飞虫不停干扰后，帐篷终于搭起，喷了一遍驱蚊剂然后钻了进去，此时已是凌晨一点半；反正一夜也没有睡多长时间，四点多蒙古的太阳便升起，那缕阳光通过纱帘照在皮肤上的一瞬间便有热灼感，而蒙古干燥的天气极易引起灰尘飞散，这导致我从进入蒙古国开始便犯了鼻炎，总是不停的打喷嚏，一次就是十个八个的，难受至极。</p><div class="testdiv" style="text-align:left;margin-top:20px;margin-bottom:20px;"><p style="text-align:center;margin-top:20px;margin-bottom:20px;"><a href="http://img10.fblife.com/attachments/20160809/14707323266498.jpg" target="_blank"><img src="http://img10.fblife.com/attachments/20160809/14707323266498.jpg.690x0.jpg" style="float:none;"></a></p></div><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;">即然睡不着就赶快起床收拾东西，今天的目的地是计划中最长的一天，总共要走700km，我们要穿过乌兰巴托走到蒙俄边境的达尔汗，从那里我们可以很方便的通过陆路口岸进入俄罗斯，而俄罗斯才是我们这次活动的重要目的地。</p><p style="text-indent:2em;text-align:left;margin-top:20px;margin-bottom:20px;">但最后的事实证明我们根本没有办法抵达今天的目的地。</p>
                    </div>

                    <!-- 新闻详情页原帖推荐 -->
                    <!-- 新闻详情页原帖推荐end -->
                    <!--分页-->
                    <!-- 等待加载图片-->
                    <!--分页 end-->

                    <div class="f_wzkeywords_pad clearfix">
                        <div class="f_wzkeywords">
                            <span>文章关键词：</span>
                            <p>
                                <!-- str_replace(' ', '&nbsp;', $info) -->

                                <a href="http://news.fblife.com/tags_内蒙.html" target="_blank">内蒙</a>


                                <a href="http://news.fblife.com/tags_蒙古.html" target="_blank">蒙古</a>


                                <a href="http://news.fblife.com/tags_乌兰巴托.html" target="_blank">乌兰巴托</a>


                                <a href="http://news.fblife.com/tags_mu X.html" target="_blank">mu X</a>


                                <a href="http://news.fblife.com/tags_自驾.html" target="_blank">自驾</a>


                                <a href="http://news.fblife.com/tags_俄罗斯.html" target="_blank">俄罗斯</a>


                                <a href="http://news.fblife.com/tags_贝加尔湖.html" target="_blank">贝加尔湖</a>

                            </p>
                        </div>
                        <div class="f_wzyo rt">
                            责任编辑：王曙光
                        </div>

                    </div>
                 <div class="tit_xadd">
                        <!-- 资讯内页回复区通栏 -->
                        <script language="JavaScript1.1" src="http://cast.aim.yoyi.com.cn/afp/door/;ap=v4ae620cac2566500001;ct=js;pu=n1428243fc09e7230001;/?">
                        </script><a href="http://cast.aim.yoyi.com.cn/afp/wayl/;ad=w76113b8261e01780001;ap=v4ae620cac2566500001;as=z76116cd44b990c90001;pu=n1428243fc09e7230001;/?http://news.fblife.com/html/20160613/172953.html" target="_blank"><img src="http://cmstest.fblife.com/attachments/20160715/146856403692446.jpg" border="0" width="760" height="90"></a>
                        <noscript>
                            &lt;IFRAME SRC="http://cast.aim.yoyi.com.cn/afp/door/;ap=v4ae620cac2566500001;ct=if;pu=n1428243fc09e7230001;/?" NAME="adFrame_v4ae620cac2566500001" WIDTH="760" HEIGHT="90" FRAMEBORDER="no" BORDER="0" MARGINWIDTH="0" MARGINHEIGHT="0" SCROLLING="no"&gt;
                            &lt;/IFRAME&gt;
                        </noscript>
                        <!-- 资讯内页回复区通栏/End -->
                    </div>
                </div>
            </div>
            <!--列表左侧 end-->
            <!--资讯右侧 start-->
            @Html.Partial("_RightPartial");
            <!--资讯右侧 end-->
        </div>
    </div>
</div>

