@{
    ViewBag.Title = "MyArticle";
}

<h2>MyArticle</h2>
<!--nav-->
<div class="b_nav">
    <div class="b_navcon clearfix">
        <ul class="clearfix" id="nav_chanel">
            <li class="b_nav_teshu lenxingqiu">
                <a href="http://newcar.fblife.com" class="yijia" target="_blank">我的推荐</a>
            </li>
            <li class="">
                <a href="http://guide.fblife.com" class="hong yijia" target="_blank">收藏</a>
            </li>
            <li class="">
                <a href="http://drive.fblife.com" class="hui yijia" target="_blank">原创</a>
            </li>
            <li class="">
                <a href="http://culture.fblife.com" class="lv yijia" target="_blank">文化</a>
            </li>
            <li class="">
                <a href="http://restyle.fblife.com" class="fen yijia" target="_blank">改装</a>
            </li>
        </ul>
    </div>
</div>
<!--nav end-->
<div id="articleConten">
   
</div>
<!--更多-->
<div class="b_zx_more clearfix">
    <a href="javascript:void(0)" id="loadmore">更多&gt;&gt;</a>
</div>
<!--更多 end-->
@section scripts
{
    <script type="text/javascript">
        var pageNum = @ViewBag.pageNum;
        var pageIndex = 1;
        var jsonData=@Html.Raw(ViewBag.jsonData);
    </script>
    <script src="~/Scripts/Article/myArticle.js"></script>
<script type="text/template1">
    <div class="row">
        <div class="col-md-8">
            <a href="$Url$" target="_blank">
                <h2>$ArticleName$</h2>
            </a>
            <p>
                <span>$Description$</span>
                <span class="right">$CreateTime$</span>
            </p>
        </div>
    </div>
</script>
}