<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>用户主页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
		<link href="../../css/user/userindex.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/weibo.css" />
		<link rel="stylesheet" href="../../css/imageviewer.css" />
		<style type="text/css">

		</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-transparent">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title"></h1>
		</header>
		<div class="mui-content">
			<div id="pullrefresh" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="personal-top" style="background-image: url(../../images/cbd.jpg);">
						<div class="head-img"><img src="../../images/food.png">
						</div>
						<div class="username">
							<h4>Bwlang星</h4>
						</div>
					</div>

					<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<a class="mui-control-item" id="item1">
							主页
						</a>
						<a class="mui-control-item" id="item2">
							途迹
						</a>
						<a class="mui-control-item" id="item3">
							游记
						</a>
					</div>
					<ul class="mui-table-view" id="cardlist">
						<li class="card-article">
							<div class="mui-card">
								<div class="mui-card-title">
									<p>这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
								</div>
								<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(../../images/cbd.jpg)
									"></div>
								<div class="mui-card-content">
									<div class="mui-card-content-inner">
										<p class="userinfo">Posted on January 18, 2016
											<span class="viewcount">
											<em class="mui-icon-extra mui-icon-extra-like">10</em>
											<em class="mui-icon mui-icon-compose">23</em>
											</span>
										</p>
									</div>
								</div>
							</div>
						</li>
						<li class="card-weibo1">
							<div class="mui-card">
								<div class="mui-card-header mui-card-media">
									<img class="head-img" src="../../images/logo.png">
									<div class="mui-media-body">
										<em class="mui-icon mui-icon-person">bwlang</em>
										<p>发表于 2016-06-30 15:30</p>
									</div>
								</div>
								<div class="mui-card-content">
									<p>的空间疯狂的健康</p>
									<div class="media-pic-list">
										<ul>
											<li>
												<img src="../../images/login-1.png" data-preview-src="" data-preview-group="1">
											</li>
											<li>
												<img src="../../images/muwu.jpg" data-preview-src="" data-preview-group="1">
											</li>
										</ul>
									</div>
									<div class='card-location'><span class="mui-icon mui-icon-location"></span><span>新疆罗布泊303国道</span></div>
								</div>
								<div class="mui-card-footer">
									<span class="mui-icon mui-icon-location"><em>20</em></span>
									<span class="mui-icon-extra mui-icon-extra-heart"><em>5</em></span>
									<span class="mui-icon mui-icon-compose"></span>
								</div>
							</div>
						</li>
						<li class="card-weibo2">
							<div class="mui-card">
								<div class="mui-card-header mui-card-media">
									<img src="../../images/logo.png">
									<div class="mui-media-body">
										小Mf
										<p>发表于 2016-06-30 15:30</p>
									</div>
								</div>
								<div class="mui-card-content">
									<p>的空间疯狂的健康</p>
									<div class="media-pic-list">
										<img class="bigimage" src="../../images/yuantiao.jpg">
									</div>
									<div class='card-location'><span class="mui-icon mui-icon-location"></span><span>新疆罗布泊303国道</span></div>
								</div>
								<div class="mui-card-footer">
									<span class="mui-icon-extra mui-icon-extra-heart-filled"></span>
									<span class="mui-icon mui-icon-compose"></span>
									<span class="mui-icon mui-icon-star"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/mui.pullToRefresh.js"></script>
		<script type="text/javascript" src="../../js/mui.pullToRefresh.material.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/mui.zoom.js"></script>
		<script type="text/javascript" src="../../js/mui.previewimage.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/template" id="card-article">
			<li class="card-article">
				<a href="view/article/preview.html" articleid="$Id$" articlename="$ArticleName$">
					<div class="mui-card">
						<div class="mui-card-title">
							<p>$ArticleName$</p>
						</div>
						<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url($CoverImage$)"></div>
						<div class="mui-card-content">
							<div class="mui-card-content-inner">
								<p class="userinfo">
									<em class="mui-icon mui-icon-person">$UserName$ 发表于 $CreateTimeStr$</em>
									<span class="viewcount">
									<em Id="voteCount_$Id$" class="mui-icon-extra mui-icon-extra-heart">$VoteCount$</em>
									<em Id="commentCount_$Id$" class="mui-icon mui-icon-compose">$CommentCount$</em>
								</span></p>
							</div>
						</div>
					</div>
				</a>
			</li>
		</script>
		<script type="text/template" id="card-weibo">
			<li class="card-weibo">
				<div class="mui-card">
					<div class="mui-card-header mui-card-media">
						<img class="head-img" userid="$UserId$" src="$UserHeadImage$">
						<div class="mui-media-body">
							<em class="mui-icon mui-icon-person">$UserName$</em>
							<p>发表于 $PublishTime$</p>
						</div>
					</div>
					<div class="mui-card-content">
						<p>$Description$</p>
						<div class="media-pic-list">
							$imglist$
						</div>
						$cardlocation$
					</div>
					<div class="mui-card-footer">
						<span class="mui-icon-extra votebtn $isVote$" weiboid='$Id$'><em>$VoteCount$</em></span>
						<span class="mui-icon mui-icon-compose" weiboid='$Id$'><em id="commentCount_$Id$">$CommentCount$</em></span>
						<span class="mui-icon mui-icon-star" weiboid='$Id$'></span>
					</div>
				</div>
			</li>
		</script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true,
				pullRefresh: {
					container: '#pullrefresh',
					up: {
						contentrefresh: '正在加载...',
						auto: true,
						contentnomore: '没有更多数据了',
						callback: pullupRefresh
					}
				}
			});
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				var userid = self.userid;
				console.log(userid);
				getUserinfo(userid);
			});
			mui.previewImage();

			var currentParamEntity = {
				all: {
					url: 'http://api.myautos.cn/api/Article/GetUserArticleAndWeiboListByPage',
					pageindex: 1,
					pagesize: 10
				},
				article: {
					url: 'http://api.myautos.cn/api/Article/GetUsersArticleByPage',
					pageindex: 1,
					pagesize: 10
				},
				weibo: {
					url: 'http://api.myautos.cn/api/weibo/GetUsersListByPage',
					pageindex: 1,
					pagesize: 10
				},
				current: 1
			}
			//tab切换
			mui('.mui-slider-indicator').on('tap', 'a', function() {
				var tabid = this.getAttribute('id');
				if(tabid == "item1") {
					$(".mui-table-view .card-article").show();
					$(".mui-table-view .card-weibo").show();
					currentParamEntity.current = 1;
				}
				if(tabid == "item2") {
					$(".mui-table-view .card-article").hide();
					$(".mui-table-view .card-weibo").show();
					currentParamEntity.current = 2;
				}
				if(tabid == "item3") {
					$(".mui-table-view .card-article").show();
					$(".mui-table-view .card-weibo").hide();
					currentParamEntity.current = 3;
				}
			});

			function pullupRefresh() {
				switch(currentParamEntity.current){
					case 1:
					getAllList();
					break;
					case 2:
					getWeiboList();
					break;
					case 3:
					getArticleList();
					break;
				}
				
				
				
			}
			
			function getAllList(){
				console.log(JSON.stringify(currentParamEntity));
				var url =currentParamEntity.all.url;// 'http://api.myautos.cn/api/Article/GetUserArticleAndWeiboListByPage';
				var data = {
					userid: 1,
					pageindex: currentParamEntity.all.pageindex,
					pagesize: currentParamEntity.all.pagesize
				};
				commonUtil.sendRequestGet(url, data, function(data) {
					console.log(JSON.stringify(data));
					if(data.IsSuccess == 1 && data.Data != null && data.Data.length > 0) {
						var list = data.Data;
						for(var i = 0; i < list.length; i++) {
							var item = list[i];
							if(item.EntityType == 1) {
								var article = item.ArticleVm;
								initCard(1, article);
							}
							if(item.EntityType == 2) {
								var weibo = item.WeiboVm;
								initCard(2, weibo);
							}
						}
						currentParamEntity.all.pageindex++;
					} else {
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
						return;
					}
					mui('#pullrefresh').pullRefresh().endPullupToRefresh(); //参数为true代表没有更多数据了。
				});
			}
			
			function getArticleList(){
				console.log(JSON.stringify(currentParamEntity));
				var url =currentParamEntity.article.url;
				var data = {
					userid: 1,
					pageindex: currentParamEntity.article.pageindex,
					pagesize: currentParamEntity.article.pagesize
				};
				commonUtil.sendRequestGet(url, data, function(data) {
					console.log(JSON.stringify(data));
					if(data.IsSuccess == 1 && data.Data != null && data.Data.length > 0) {
						var list = data.Data;
						for(var i = 0; i < list.length; i++) {
							var item = list[i];
							initCard(1, item);
						}
						currentParamEntity.article.pageindex++;
					} else {
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
						return;
					}
					mui('#pullrefresh').pullRefresh().endPullupToRefresh(); //参数为true代表没有更多数据了。
				});
			}
			
			function getWeiboList(){
				console.log(JSON.stringify(currentParamEntity));
				var url =currentParamEntity.weibo.url;
				var data = {
					userid: 1,
					pageindex: currentParamEntity.weibo.pageindex,
					pagesize: currentParamEntity.weibo.pagesize
				};
				commonUtil.sendRequestGet(url, data, function(data) {
					console.log(JSON.stringify(data));
					if(data.IsSuccess == 1 && data.Data != null && data.Data.length > 0) {
						var list = data.Data;
						for(var i = 0; i < list.length; i++) {
							var item = list[i];
							initCard(2, item);
						}
						currentParamEntity.weibo.pageindex++;
					} else {
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
						return;
					}
					mui('#pullrefresh').pullRefresh().endPullupToRefresh(); //参数为true代表没有更多数据了。
				});
			}

			var img_1200style = 'style/weibo_1200';
			var img_600style = 'style/weibo_600';
			var img_24style = 'style/weibo_24_16';
			var img_36style = 'style/weibo_36_24';
			var articleTemplate = $('script[id="card-article"]').html();
			var weiboTemplate = $('script[id="card-weibo"]').html();
			///填充内容
			function initCard(entityType, item) {

				if(entityType == 1) {
					var article = item;
					article.CoverImage = article.CoverImage.replace("style/articlecover_36_24", "style/weibo_600")
					var imgHtmlStr = articleTemplate.temp(article);
					$("#cardlist").append(imgHtmlStr);
				}
				if(entityType == 2) {
					var weibo = item;
					var imgHtmlStr = "";
					var imgs = weibo.ContentValue.split(',');
					if(imgs.length > 1) {
						//多图
						imgHtmlStr += "<ul>";
						for(var j = 0; j < imgs.length; j++) {
							imgHtmlStr += '<li><img src="' + imgs[j] + '" data-preview-src="' + imgs[j].replace(img_24style, img_1200style) + '" data-preview-group="' + item.Id + '"></li>';
						}
						imgHtmlStr += "</ul>";
					} else {
						imgHtmlStr = '<img src="' + imgs[0].replace(img_24style, img_36style) + '" class="bigimage" data-preview-src="' + imgs[0].replace(img_24style, img_1200style) + '" data-preview-group="' + item.Id + '">';
					}
					weibo.imglist = imgHtmlStr;
					//显示地理位置
					weibo.cardlocation = "";
					if(weibo.LocationText != "" && weibo.Longitude != "" && weibo.Lantitude != "") {
						var lbsStr = "<div weiboid='" + weibo.Id + "' class='card-location'><span class='mui-icon mui-icon-location'></span><span>" + weibo.LocationText + "</span></div>";
						weibo.cardlocation = lbsStr;
					}
					var cardStr = weiboTemplate.temp(weibo);
					$("#cardlist").append(cardStr);
				}
			}

			//

			function getUserinfo() {

			}
		</script>
		<script type="text/javascript">
		</script>
	</body>

</html>