<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>用户主页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/imageviewer.css" />
		<link rel="stylesheet" href="../../css/user/userindex.css" />
		<link rel="stylesheet" href="../../css/article/article_item.css" />
		<link rel="stylesheet" href="../../css/weibo/weibo_item.css" />

		<style type="text/css">
			#scroll1 .mui-card-header>img:first-child {
				font-size: 0;
				line-height: 0;
				float: left;
				width: 34px;
				height: 34px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">
			</h1>
		</header>
		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll">
						<a class="mui-control-item mui-active" href="#item1mobile">
							途迹
						</a>
						<a class="mui-control-item" href="#item2mobile">
							游记
						</a>
					</div>
				</div>
				<div class="mui-slider-group">
					<!--<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">-->
					<div id="item1mobile" class="mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<!--<div class="personal-top" style="background-image: url(../../images/cbd.jpg);">
									<div class="head-img"><img src="../../images/food.png">
									</div>
									<div class="username">
									</div>
								</div>-->
								<ul class="mui-table-view" id="mui-table-view-1">
									<li class="weibo-card mui-table-view-cell">
										<div class="user_info">
											<div class="img-box">
												<img  src="../../images/logo1.png">
											</div>
											<span class="name">silva</span>
										</div>
										<div class="user_detail">
											<p class="text">
												欧亚大陆桥一共是两座。1973年博斯普鲁斯海峡上建起第一座跨海公路大吊桥。 桥的两头各有一呈门字型的高达165米的桥塔，水中不设桥墩。
											</p>
											<div class="list_img">
												<a class="img-box" href="#">
													<img class="weibo_img" src="../../images/cbd.jpg">
												</a>
												<a href="#">
													<img class="weibo_img" src="../../images/datong.png">
												</a>
												<a href="#">
													<img class="weibo_img" src="../../images/jeep.png">
												</a>
											</div>
											<div class='card-location'><span class="mui-icon mui-icon-location"></span><span>新疆罗布泊303国道</span></div>
											<div class="user_news">
												<span class="time">21分钟前</span>
												<div class="detail">
													
													<span class="love">
											<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-xihuan"></use>
  												<span>358</span>
													</svg>
													</span>
													<span class="comment">
											<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-tuji-pinglun-copy"></use>
  												<span>3658</span>
													</svg>
													</span>
												</div>
											</div>
										</div>
									</li>

								</ul>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="personal-top" style="background-image: url(../../images/cbd.jpg);">
									<div class="head-img"><img src="../../images/food.png">
									</div>
									<div class="username">
										<!--<h4>Bwlang星</h4>-->
									</div>
								</div>
								<ul class="mui-table-view" id="mui-table-view-2">

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script src="../../js/mui.pullToRefresh.js"></script>
		<script src="../../js/mui.pullToRefresh.material.js"></script>
		<script type="text/javascript" src="../../js/mui.zoom.js"></script>
		<script type="text/javascript" src="../../js/mui.previewimage.js"></script>

		<script type="text/javascript" src="../../css/iconfont/iconfont.js"></script>
		<script type="text/template" id="card-article">
			<li class="article_card" id="article_$Id$">
				<a>
					<div class="left_div">
						<div class="article_card_href title" articleid="$Id$" articlename="$ArticleName$">
							<p class="caption">$ArticleName$</p>
							<p class="content">$Description$</p>
						</div>
						<div class="detail">
							<span class="love">
							<svg class="svg-icon" aria-hidden="true">
  								<use xlink:href="#icon-tuji-dianzan-copy"></use>
  								<span Id="voteCount_$Id$">$VoteCount$</span>
							</svg>
							</span>
							<span class="comment">
							<svg class="svg-icon" aria-hidden="true">
  								<use xlink:href="#icon-tuji-pinglun-copy"></use>
  								<span Id="commentCount_$Id$">$CommentCount$</span>
							</svg>
							</span>
							<span class='delete_article' articleid='$Id$'>
								<svg class="svg-icon" aria-hidden="true">
  									<use xlink:href="#icon-shanchu"></use>
								</svg>
							</span>
						</div>
					</div>
					<div class="right_div article_card_href" articleid="$Id$" articlename="$ArticleName$">
						<img src="$CoverImage$" />
					</div>
				</a>
			</li>

		</script>
		<script type="text/template" id="card-weibo">
			<li class="weibo-card" id="card_$Id$">
				<div class="user_info">
					<div class="img-box">
						<img userid="$UserId$" src="$UserHeadImage$">
					</div>
					<span class="name">$UserName$</span>
				</div>
				<div class="user_detail">
					<p class="text">
						$Description$
					</p>
					<div class="list_img">
						$imglist$
					</div>
					$cardlocation$
					<div class="user_news">
						<span class="time">$PublishTime$</span>
						<div class="detail">
							<span class="love">
								<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-xihuan"></use>
  									<span>$VoteCount$</span>
							</svg>
							</span>
							<span class="comment">
								<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-tuji-pinglun-copy"></use>
  												<span>$CommentCount$</span>
							</svg>
							</span>
						</div>
					</div>
				</div>
			</li>
		</script>
		<script type="text/javascript" src="../../js/user/user_index.js"></script>
	</body>

</html>