<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/icons-extra.css" />
		<link href="../../css/user/userindex.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/weibo.css" />
		<link rel="stylesheet" href="../../css/imageviewer.css" />
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			
			.mui-bar .mui-pull-left .mui-icon {
				padding-right: 5px;
				font-size: 28px;
			}
			
			.mui-bar .mui-btn {
				font-weight: normal;
				font-size: 17px;
			}
			
			.mui-bar .mui-btn-link {
				top: 1px;
			}
			
			.mui-content img {
				width: 100%;
			}
			
			.hm-description {
				margin: .5em 0 2em;
			}
			
			.hm-description>li {
				font-size: 14px;
				color: #8f8f94;
			}
		</style>
	</head>

	<body>

		<header id="header" class="mui-bar mui-bar-transparent">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">Bwlang星</h1>
		</header>

		<div class="mui-content">
			<img id="img1" src="../../images/yuantiao.jpg" />
			<div id="pullrefresh" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="personal-top" style="background-image: url(../../images/cbd.jpg);">
						<div class="head-img"><img src="../../images/food.png">
						</div>
						<div class="username">
							<!--<h4>Bwlang星</h4>-->
						</div>
					</div>
					
					<div class="mui-card">
						<div class="mui-card-title">
							<p>这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
						</div>
						<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(../../images/cbd.jpg)"></div>
						<div class="mui-card-content">
							<div class="mui-card-content-inner">
								<p class="userinfo">Posted on January 18, 2016
									<span class="viewcount">
											<em class="mui-icon-extra mui-icon-extra-like">10</em>
											<em class="mui-icon mui-icon-compose">23</em>
											</span>
								</p>
							</div>
						</div>
					</div>
					<div class="mui-card">
						<div class="mui-card-header mui-card-media">
							<img class="head-img" src="../../images/logo.png">
							<div class="mui-media-body">
								<em class="mui-icon mui-icon-person">bwlang</em>
								<p>发表于 2016-06-30 15:30</p>
							</div>
						</div>
						<div class="mui-card-content">
							<p>的空间疯狂的健康</p>
							<div class="media-pic-list">
								<ul>
									<li>
										<img src="../../images/login-1.png" data-preview-src="" data-preview-group="1">
									</li>
									<li>
										<img src="../../images/muwu.jpg" data-preview-src="" data-preview-group="1">
									</li>
								</ul>
							</div>
							<div class='card-location'><span class="mui-icon mui-icon-location"></span><span>新疆罗布泊303国道</span></div>
						</div>
						<div class="mui-card-footer">
							<span class="mui-icon mui-icon-location"><em>20</em></span>
							<span class="mui-icon-extra mui-icon-extra-heart"><em>5</em></span>
							<span class="mui-icon mui-icon-compose"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			var header = document.getElementById("header");
			//			//左侧icon
			//			var lefticon = document.createElement('a');
			//			lefticon.className = 'mui-action-back mui-icon mui-icon-left-nav mui-pull-left';
			//			//左侧图标+文字按钮
			//			var leftbtn = document.createElement('button');
			//			leftbtn.className = 'mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left';
			//			var span = document.createElement('span');
			//			span.className = 'mui-icon mui-icon-left-nav';
			//			leftbtn.appendChild(span);
			//			var text = document.createTextNode('首页');
			//			leftbtn.appendChild(text);
			//			//右侧icon
			//			var righticon = document.createElement('a');
			//			righticon.className = 'mui-icon mui-icon-bars mui-pull-right';
			//			//右侧文字按钮
			//			var rightbtn = document.createElement('button');
			//			rightbtn.className = 'mui-btn mui-btn-blue mui-btn-link mui-pull-right';
			//			rightbtn.innerText = '编辑';
			//			//删除原先存在的节点
			//			function remove(selector) {
			//				var elem = header.querySelector(selector);
			//				if (elem) {
			//					header.removeChild(elem);
			//				}
			//			};
			var transparentApi;
			var slider = document.getElementById("slider");
			mui('.mui-input-group').on('change', 'input', function() {
				if(this.checked) {
					switch(this.value) {
						case 'left-none':
							//							remove('.mui-pull-left');
							document.getElementById("img1").className = "";
							document.getElementById("slider").classList.add("mui-hidden");
							break;
						case 'left-icon':
							document.getElementById("img1").className = "mui-hidden";
							if(slider.classList.contains("mui-hidden")) {
								document.getElementById("slider").classList.remove("mui-hidden");
							}
							break;
							//						case 'left-btn':
							//							remove('.mui-pull-left');
							//							header.appendChild(leftbtn);
							//							break;
							//						case 'right-none':
							//							remove('.mui-pull-right');
							//							break;
							//						case 'right-icon':
							//							remove('.mui-pull-right')
							//							header.appendChild(righticon);
							//							break;
							//						case 'right-btn':
							//							remove('.mui-pull-right');
							//							header.appendChild(rightbtn);
							//							break;
							//						case 'transparent':
							//							header.className = 'mui-bar mui-bar-transparent';
							//							transparentApi = mui('.mui-bar-transparent').transparent();
							//							break;
							//						case 'nav':
							//							header.className = 'mui-bar mui-bar-nav';
							//							transparentApi && transparentApi.destory();
							//							break;
					}
				}
			});
		</script>

	</body>

</html>