<nav class="bar bar-tab">
    <a id="tab_index" class="tab-item external" href="/Travels">
        <span class="icon icon-home"></span>
        <span class="tab-label">首页</span>
    </a>
    <a id="tab_me" class="tab-item external" href="/Travels/MyTravels?userid=1">
        <span class="icon icon-me"></span>
        <span class="tab-label">我</span>
    </a>
    <a id="tab_setting" class="tab-item external" href="/User/Setting?userid=1">
        <span class="icon icon-settings"></span>
        <span class="tab-label">设置</span>
    </a>
</nav>

<script type="text/javascript">
    function SetTabSelected(id) {
        $(".tab-item div").removeClass("active");
        $("#" + id).addClass("active");
        //$("#" + id).nextSibling.removeClass("active");
    }

</script>

