<!-- nav begin -->
<section class="nav" id="wrapper" class="wraper">
    <div id="scroller" class="scroller nav_nei">
        <ul>
            <li><a href="http://m.fblife.com">首页</a></li>
            <li><a href="http://m.fblife.com/newcar">新车</a></li>
            <li><a href="http://m.fblife.com/guide">导购</a></li>
            <li><a href="http://m.fblife.com/drive">试驾</a></li>
            <li><a href="http://m.fblife.com/depreciate">降价</a></li>
            <li><a href="http://m.fblife.com/culture">文化</a></li>
            <li><a href="http://m.fblife.com/restyle">改装</a></li>
            <li><a href="http://m.fblife.com/tour">旅行</a></li>
            <li><a href="http://m.fblife.com/news">行业</a></li>
            <li><a href="http://m.fblife.com/rv">房车</a></li>
            <li><a href="http://m.fblife.com/tieqi">铁骑</a></li>
            <li><a href="http://m.fblife.com/event">活动</a></li>
            <li><a href="http://m.fblife.com/use">用车</a></li>
            <li><a href="http://m.fblife.com/photo">图片</a></li>
            <li><a href="http://m.fblife.com/carport/">车库</a></li>
            <li><a href="http://m.fblife.com/v">视频</a></li>
            <li><a href="http://m.fblife.com/bbs/">社区</a></li>
        </ul>
    </div>
</section>
<!-- nav over -->


