<nav class="bar bar-tab">
    <a id="tab_index" class="tab-item" href="/Home/Index">
        <span class="icon icon-home"></span>
        <span class="tab-label">首页</span>
    </a>
    <a id="tab_me" class="tab-item" href="/Search/Index">
        <span class="icon icon-search"></span>
        <span class="tab-label">搜索</span>
    </a>
</nav>

<script type="text/javascript">
    function SetTabSelected(id) {
        $(".tab-item div").removeClass("active");
        $("#" + id).addClass("active");
        //$("#" + id).nextSibling.removeClass("active");
    }

</script>

