<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">关于车酷</h1>
		</header>
		<div class="mui-content">
			<div class="mui-content-padded">
				<h3>关于我们</h3>

				<p>
					车酷——爱车人的自留地。
				</p>
				<p>
					车酷致力于打造最人性化的、和谐的汽车生活社区。在这里您可以浏览优质的汽车资讯。
				</p>
				<p>
					随时记录旅行的美好瞬间，一键生成游记，美好经历永久珍藏。
				</p>
				<p>
					车酷搜索基于大数据算法，为您推荐最为优质的汽车类资讯，自驾游记录，用车经验。
				</p>
				<p>
					随时随地，分享交友，旅行途中，朋友遍天下。
				</p>
				<p>
					无论您是老司机还是马露莎，无论您是越野老炮还是秋名山车神，只要您爱车懂车，都可以在这里找到组织。
				</p>
				<p>
					优质的汽车生活，从车酷开始。
				</p>
				<p></p>
				<h3>联系我们</h3>
				<p>QQ： 1127942005</p>
				<p>电话： 17611170536</p>
				<p>客服邮箱： myautos@sina.cn</p>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			//			mui.plusReady(function(){
			//				mui.init({
			//					subpages: [{
			//						url: "http://m.myautos.cn/home/about",
			//						id: "about-about",
			//						styles: {
			//							top: '50px', //mui标题栏默认高度为45px；
			//							bottom: '0px' //默认为0px，可不定义；
			//						}
			//					}]
			//				});
			//			});
		</script>
	</body>

</html>