<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
		<link rel="stylesheet" href="../../css/weibo/comment.css" />
		<style type="text/css">
			html,
			body {
				height: 100%;
				margin: 0px;
				padding: 0px;
				overflow: hidden;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
			}
			
			.thread-info .userinfo img {
				width: 35px;
				height: 35px;
				border-radius: 8px;
				vertical-align: middle;
				overflow: hidden;
				margin-right: 2px;
			}
			
			.thread-info {
				margin: 10px 10px 10px 0px;
			}
			
			.thread-info .userinfo .username {
				font-size: 16px;
			}
			
			.mui-content-padded p img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
			
			.mui-content {
				height: 100%;
				overflow: auto;
				padding-bottom: 50px;
			}
			
			footer {
				position: fixed;
				width: 100%;
				height: 50px;
				min-height: 50px;
				border-top: solid 1px #bbb;
				left: 0px;
				bottom: 0px;
				overflow: hidden;
				padding: 0px 50px;
				background-color: #fafafa;
			}
		</style>

	</head>

	<body>
		<div id="content" class="mui-content">
			<div class="mui-content-padded">
				<h3 id='articlename'></h3>
				<div class="thread-info">
					<span class="userinfo">
                    <img src="" id='user_headimg'/>
                    <em class="username" id="user_name"></em>
                	</span>
					<span class="publish-time"></span>
				</div>
				<!-- 文章主体 -->
				<div class="" id='articlecontent'>
				</div>
				<div class="article-footer">
					<img src="http://img.myautos.cn/commenfile/qrcode_for_gh_7f5be927b079_258.jpg" />
					<p>车酷自驾游是专注自驾游分享、交友社区，欢迎关注</p>
				</div>
				<div class="mui-clearfix"></div>
			</div>
			<h3 >评论列表</h3>
			<div id='comment' style="min-height: 50px;" class="mui-card-content">
				<p>暂无评论</p>
			</div>
		</div>
		<br>
		<br>
		<footer class="mui-bar mui-bar-footer">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="padding-right: 10px"></a>
			<a class="mui-icon mui-icon-compose" style="float: inherit;padding-right: 10px"></a>
			<a id="share" class="mui-icon-extra mui-icon-extra-share" style="color: #999;"></a>
			<input id="composeText" type="text" placeholder="请输入评论" style="width: 80%;display: none;margin-top: 5px;" />
			<a id="sendComposs" style="color: #999;display: none;width: 20%;">发送</a>
		</footer>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/javascript" src="../../js/article/article_preview.js"></script>
		<script type="text/template" id='comment_item'>
			<dl class="comment-list hot" commentid="@comment.Id">
				<dt>
                        <i class="headpic">
                            <img src="$HeadImage$">
                        </i>
                        <em class="userinfo">
                            $UserName$
                            $CreateTime$
                        </em>
                        <em class="commentvote">
                            <!--<a class="comment_like" commentid='$Id$'><span class="mui-icon-extra mui-icon-extra-heart"></span></a>-->
                            <a class="comment_to" commentid='$Id$'><span class="mui-icon mui-icon-compose"></span></a>
                        </em>
                    </dt>
				<dd>
					<p>
						$Content$
					</p>
				</dd>
			</dl>
		</script>
		<script type="text/template" id="comment_item_to">
			<dl class="quote">
				<dt>
                            <i class="headpic">
                                <img src="$HeadImage$">
                            </i>
                            <em class="userinfo">
                                $UserName$
                            $CreateTime$
                            </em>
                        </dt>
				<dd>
					<p>
						$Content$
					</p>
				</dd>
			</dl>
		</script>
		<script type="text/javascript">
			var articleItem = null;
			var shares = null,
				sharewx = null,
				shareweibo = null;
			mui.plusReady(function() {
				//获取参数
				var self = plus.webview.currentWebview();
				var articleid = self.articleid;
				var articlename = self.articlename;
				$("#title").html(articlename);
				getArticle(articleid);
				getArticleComment(articleid);
				// 扩展API加载完毕，现在可以正常调用扩展API
				plus.share.getServices(function(s) {
					shares = s;
					for(var i in s) {
						if('weixin' == s[i].id) {
							sharewx = s[i];
						}
						if('sinaweibo' == s[i].id) {
							shareweibo = s[i];
						}
					}
				}, function(e) {
					alert("获取分享服务列表失败：" + e.message);
				});
			});

			document.getElementById('share').addEventListener('tap', function() {
				var btnArray = [{
					title: '分享给微信好友'
				}, {
					title: '分享到微信朋友圈'
				}, {
					title: '分享到新浪微博'
				}];
				plus.nativeUI.actionSheet({
					title: "分享",
					cancel: '取消',
					buttons: btnArray
				}, function(e) {
					var index = e.index; // 
					switch(index) {
						case 1:
							sharewx.send({
								title: articleItem.ArticleName,
								content: articleItem.Description,
								href: "http://m.myautos.cn/Article/Index?id=" + articleItem.Id,
								thumbs: [
									articleItem.CoverImage.replace("articlecover_36_24", "articlecover_100")
								],
								extra: {
									scene: "WXSceneSession"
								}
							}, function() {
								mui.toast("分享给好友成功");
							}, function(e) {
								alert("分享失败：" + e.message);
								mui.toast("取消分享");
							});
							break;
						case 2:
							sharewx.send({
								title: articleItem.ArticleName,
								content: articleItem.Description,
								href: "http://m.myautos.cn/Article/Index?id=" + articleItem.Id,
								thumbs: [
									articleItem.CoverImage.replace("articlecover_36_24", "articlecover_100")
								],
								extra: {
									scene: "WXSceneTimeline"
								}
							}, function() {
								mui.toast("分享成功");
							}, function(e) {
								mui.toast("取消分享");
							});
							break;
						case 3:
							shareweibo.send({
								title: articleItem.ArticleName,
								content: articleItem.Description,
								href: "http://m.myautos.cn/Article/Index?id=" + articleItem.Id,
								thumbs: [
									articleItem.CoverImage.replace("articlecover_36_24", "articlecover_100")
								]
							}, function() {
								mui.toast("分享成功");
							}, function(e) {
								mui.toast("取消分享");
							});
							break;
					}
				});
			});
		</script>
	</body>

</html>