<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<div id="content" class="mui-content">
		</div>
		<footer class="mui-bar mui-bar-footer">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class="mui-icon mui-icon-compose"><span style="font-size: 12px;">1655</span></a>
			<input id="composeText" type="text" placeholder="请输入评论" style="width: 60%;" />
			<a id="share" class="mui-icon mui-icon-paperplane " style="color: #999;"></a>
			<a id="sendComposs" style="color: #999;display: none;">发送</a>
		</footer>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/article/article_preview.js"></script>
		<script type="text/javascript">
			var articleItem = null;
			var shares = null,
				sharewx = null;
			mui.plusReady(function() {
				// 扩展API加载完毕，现在可以正常调用扩展API
				plus.share.getServices(function(s) {
					shares = s;
					for(var i in s) {
						if('weixin' == s[i].id) {
							sharewx = s[i];
						}
					}
				}, function(e) {
					alert("获取分享服务列表失败：" + e.message);
				});
				//刷新父页面
				var old_back = mui.back;
				mui.back = function() {
					var wobj = plus.webview.getWebviewById("preview.html"); //注意 HBuilder 是   1.html 的 ID  你如果1.html 有ID   要替换掉HBuilder，  
					wobj.reload(true);
					old_back()
				}
			});

			//自定义事件。接受列表页的数据
			window.addEventListener('previewarticle', function(event) {
				//获得事件参数  
				var articleitem = event.detail.articleItem;
				articleItem = articleitem;
				if(articleitem != null) {
					mui.init({
						subpages: [{
							url: "http://m.myautos.cn/Article/Index?id=" + articleItem.Id,
							id: articleItem.Id,
							styles: {
								top: '0px', //mui标题栏默认高度为45px；
								bottom: '50px' //默认为0px，可不定义；
							}
						}]
					});
				}
			});

			document.getElementById('share').addEventListener('tap', function() {
				var btnArray = [{
					title: '分享给微信好友'
				}, {
					title: '分享到微信朋友圈'
				}, {
					title: '分享到新浪微博'
				}];
				plus.nativeUI.actionSheet({
					title: "分享",
					cancel: '取消',
					buttons: btnArray
				}, function(e) {
					var index = e.index; // 
					switch(index) {
						case 1:
							sharewx.send({
								title: articleItem.ArticleName,
								content: articleItem.Description,
								href: "http://m.myautos.cn/Article/Index?id=" + articleItem.Id,
								thumbs: [
									articleItem.CoverImage.replace("articlecover_36_24", "articlecover_100")
								],
								extra: {
									scene: "WXSceneSession"
								}
							}, function() {
								mui.toast("分享给好友成功");
							}, function(e) {
								alert("分享失败：" + e.message);
								mui.toast("取消分享");
							});
							break;
						case 2:
							sharewx.send({
								title: articleItem.ArticleName,
								content: articleItem.Description,
								href: "http://m.myautos.cn/Article/Index?id=" + articleItem.Id,
								thumbs: [
									articleItem.CoverImage.replace("articlecover_36_24", "articlecover_100")
								],
								extra: {
									scene: "WXSceneTimeline"
								}
							}, function() {
								mui.toast("分享成功");
							}, function(e) {
								mui.toast("取消分享");
							});
							break;
					}
				});
			});
		</script>
	</body>

</html>