<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/icons-extra.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/imageviewer.css" />
		<style>
			img {
				width: 100%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">游记预览</h1>
		</header>
		<div class="mui-content">

			<div class="mui-content-padded">
				<h3>土耳其游记</h3>
			</div>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/mui.zoom.js"></script>
		<script type="text/javascript" src="../../js/mui.previewimage.js"></script>
		<script type="application/javascript">
			mui.init();
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				var contentStr = self.contentStr;
				$(".mui-content-padded").append(contentStr);
			});
			mui.previewImage();
		</script>
	</body>

</html>