<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/icons-extra.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/weibo.css" />
		<style type="text/css">
			#pullrefresh{
				/*margin-top: 50px;*/
			}
			.mui-scroll .mui-card {
				margin: 0 0 10px 0;
			}
			
			.mui-card-content-inner {
				position: relative;
				padding: 5px 5px 5px 5px;
			}
			
			.mui-card-content-inner p {
				margin-bottom: 5px;
			}
			
			.mui-card-content-inner .articlename {
				font-size: 17px;
				color: #333;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">我的游记</h1>
		</header>
		<div class="mui-content">
			<div id="pullrefresh" class="mui-scroll-wrapper ">
				<div class="mui-scroll">
					<div articleid='23' class="mui-card">
						<div class="mui-card-content">
							<div class="mui-card-content-inner">
								<p class="articlename">奔驰Ml400</p>
								<p>发表于 2017</p>
							</div>
						</div>
						<div class="mui-card-header mui-card-media" style="height:55vw;background-image:url(../../images/cbd.jpg)"></div>
						<div class="mui-card-footer">
							<span class="mui-icon-extra mui-icon-extra-heart"></span>
							<span class="mui-icon mui-icon-compose"></span>
							<span class="mui-icon mui-icon-trash"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type='text/template' id='articlelistitem'>
			<div class="mui-card" id="article_$Id$">
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						<p class="articlename">$ArticleName$</p>
						<p>发表于 $CreateTime$</p>
					</div>
				</div>
				<div articleid='$Id$' class="mui-card-header mui-card-media" style="height:55vw;background-image:url($CoverImage$)"></div>
				<div class="mui-card-footer">
					<span class="mui-icon-extra votebtn mui-icon-extra-heart" weiboid='$Id$'><em>$VoteCount$</em></span>
					<span class="mui-icon mui-icon-compose" weiboid='$Id$'><em id="commentCount_$Id$">$CommentCount$</em></span>
					<span class="mui-icon mui-icon-trash" articleid='$Id$'></span>
				</div>
			</div>
		</script>
		<script>
			mui.plusReady(function() {
				mui.init({
					swipeBack: true,
					pullRefresh: {
						container: '#pullrefresh',
						up: {
							auto: true, //可选,默认false.自动上拉加载一次
							contentrefresh: '正在加载...',
							callback: pullupRefresh
						}
					}
				});
			});
			var previewPage = null;
			//添加列表项的点击事件  
			mui('.mui-scroll').on('tap', '.mui-card-media', function(e) {
				var articleid = $(this).attr("articleid");
				//获得详情页面  
				mui.openWindow({
					id: "preview.html",
					url: "preview.html",
					show: {
						aniShow: "pop-in"
					},
					waiting: {
						autoShow: false
					},
					extras: {
						articleid: articleid, //扩展参数
						articlename: ''
					}
				});
			});
			//删除文章
			mui('.mui-scroll').on('tap', '.mui-icon-trash', function(e) {
				var articleid = $(this).attr("articleid");
				if(articleid > 0) {
					mui.confirm("是否要删除文章？", "我的文章", ["是", "否"], function(event, index) {
						if(event.index == 0) {
							var url = 'http://api.myautos.cn/api/article/DeleteArticle';
							var data = {
								Id: articleid
							}
							commonUtil.sendRequestWithToken(url, data, true, function(data) {
								if(data.IsSuccess == 1) {
									$("#article_" + articleid).remove();
								} else {
									mui.toast("删除失败");
								}
							});
						}
					});
				}
			});

			var pageNum = 1;
			var pageSize = 30;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				var url = 'http://api.myautos.cn/api/article/GetMyArticle';
				var data = {
					pageNum: pageNum,
					pageSize: pageSize
				};
				commonUtil.sendRequestWithToken(url, data, false, function(data) {
					if(data.IsSuccess == 1 && data.Data != null && data.Data.length > 0) {
						var list = data.Data;
						for(var i = 0; i < list.length; i++) {
							var item = list[i];
							item.CoverImage = item.CoverImage.replace("style/articlecover_36_24", "style/weibo_600")
							var imgTemplate = $('script[id="articlelistitem"]').html();
							var imgHtmlStr = imgTemplate.temp(item);
							$("#pullrefresh .mui-scroll").append(imgHtmlStr);
						}
						pageNum++;
					} else {
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
						return;
					}
					mui('#pullrefresh').pullRefresh().endPullupToRefresh(); //参数为true代表没有更多数据了。
				});
			}
		</script>

	</body>

</html>