<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/icons-extra.css" rel="stylesheet" />
		<style>
			textarea {
				border: 0;
				background-color: transparent;
				/*scrollbar-arrow-color:yellow;  
    scrollbar-base-color:lightsalmon;  
    overflow: hidden;*/
				grid-auto-rows: inherit;
				color: #666464;
				height: auto;
			}
			
			img {
				width: 100%;
			}
			
			.mui-content-padded {
				background-color: white;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">写游记</h1>
			<button id="submit" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">发布</button>
		</header>
		<div class="mui-content">
			<div class="mui-input-group">
				<div class="mui-input-row">
					<input type="text" placeholder="帖子标题">
				</div>
			</div>
			<div class="mui-content-padded">
				<p><img src="../../images/cbd.jpg"></p>
				<textarea id='description' placeholder="试试添加微博内容，秒速发游记...">
				</textarea>
				<img src="../../images/cbd.jpg">
				<div id="youji_content" class="mui-input-row">

				</div>
			</div>
		</div>
		<footer class="mui-bar mui-bar-footer">
			<a id="selectWeibo"><span class="mui-icon-extra mui-icon-extra-new"></span></a>
			<a><span class="mui-icon mui-icon-image"></span></a>
			<a id="share"><span class="mui-icon mui-icon-paperplane"></span></a>
			<a id="preview_btn"><span class="mui-icon mui-icon-search">预览</span></a>
			<a><span class="mui-icon mui-icon-arrowright">排序</span></a>
		</footer>
		<script src="../../js/mui.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/article/youji_new.js"></script>

		<script type="application/javascript">
			mui.init({});
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				var selectedWeibos = self.items;
				if(selectedWeibos != null) {
					console.log("26262626");
					//在页面上展示
					edityoujiUtil.showWeiBoItems(contentLists, selectedWeibos);
				}
			});
			var contentLists = new Array();

			document.getElementById('selectWeibo').addEventListener('tap', function() {
				mui.openWindow({
					url: "youji_new_selectweibo.html",
					id: "youji_new_selectweibo",
					show: {
						aniShow: 'slide-in-right',
						duration: 200
					}
				});
			});
			//预览
			document.getElementById('preview_btn').addEventListener('tap', function() {
				mui.openWindow({
					url: "youji_preview.html",
					id: "youji_preview",
					show: {
						aniShow: 'slide-in-right',
						duration: 200
					},
					extras: {
						contentLists: contentLists
					},
				});
			});
		</script>
	</body>

</html>