<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/icons-extra.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/weibo.css" />
		<link rel="stylesheet" href="../../css/imageviewer.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">选择微博</h1>
			<button id="submit" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">完成</button>
		</header>

		<div id="pullrefresh" class="mui-content mui-scroll-wrapper ">
			<div class="mui-scroll">
				<div class="mui-card">
					<div class="mui-input-row mui-checkbox">
						<label>选择：1</label>
						<input name="checkbox1" value="Item 4" type="checkbox" checked="">
					</div>
					<div class="media-pic-list">
						<ul>
							<li>
								<img src="../../images/cbd.jpg" data-preview-src="" data-preview-group="1">
							</li>
							<li>
								<img src="../../images/cbd.jpg" data-preview-src="" data-preview-group="1">
							</li>
						</ul>
					</div>
					<div class="mui-card-content">
						<p>Posted on January 18, 2016</p>
						<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
					</div>
				</div>
			</div>

			<script src="../../js/mui.min.js"></script>
			<script type="text/javascript" src="../../js/app.js"></script>
			<script type="text/javascript" src="../../js/mui.zoom.js"></script>
			<script type="text/javascript" src="../../js/mui.previewimage.js"></script>
			<script type="text/javascript" src="../../js/jquery.js"></script>
			<script>
				mui.init({
					swipeBack: false,
					pullRefresh: {
						container: '#pullrefresh',
						up: {
							auto: true, //可选,默认false.自动上拉加载一次
							contentrefresh: '正在加载...',
							callback: pullupRefresh
						}
					}

				});
				mui.previewImage();
				var pageNum = 1;
				var pageSize = 30;
				var count = 0;
				/**
				 * 上拉加载具体业务实现
				 */
				function pullupRefresh() {
					var userstate = app.getState();
					mui.ajax('http://api.myautos.cn/api/weibo/GetMyWeiBoList', {
						data: {
							pageindex: pageNum,
							pageSize: pageSize
						},
						headers: {
							"username": userstate.account,
							"usertoken": userstate.token
						},
						dataType: 'json', //服务器返回json格式数据
						type: 'get', //HTTP请求类型
						success: function(data) {

							if(data.IsSuccess == 1 && data.Data != null && data.Data.length > 0) {
								var list = data.Data;
								console.log("我的微博ok：" + JSON.stringify(list));
								var table = document.body.querySelector('.mui-scroll');
								for(var i = 0; i < list.length; i++) {
									var item = list[i];
									initWeiBoItem(table, item);
								}
							} else {
								mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
								return;
							}
							pageNum++;
							mui('#pullrefresh').pullRefresh().endPullupToRefresh(); //参数为true代表没有更多数据了。
						},
						error: function(xhr, type, errorThrown) {
							mui('#pullrefresh').pullRefresh().endPullupToRefresh();
						}
					});
				}
				/**
				 * 添加数据
				 * @param {Object} table
				 * @param {Object} item
				 */
				function initWeiBoItem(table, item) {
					var imgPath = 'http://img.myautos.cn/';
					if(item.ContentValue == null || item.ContentValue == '') {
						return;
					}
					var li = document.createElement('div');
					li.className = 'mui-card';
					var headdiv = document.createElement("div");
					headdiv.className = 'mui-input-row mui-checkbox';
					headdiv.innerHTML = '<label>选择：1</label><input name="checkbox1" value="' + item.Id + '" type="checkbox" checked="">';

					var imgdiv = document.createElement("div");

					var imgs = item.ContentValue.split(',');
					if(imgs.length > 1) {
						//多图
						imgdiv.className = 'media-pic-list';
						var ul = document.createElement("ul");
						var imgHtmlStr = "";
						var imgclass = imgs.length > 1 ? "smallimage" : "bigimage";
						for(var i = 0; i < imgs.length; i++) {
							imgHtmlStr += '<li><img src="' + imgPath + imgs[i].replace(".jpg", "_s.jpg") + '" data-preview-src="' + imgPath + imgs[i] + '" data-preview-group="' + item.Id + '"></li>';
						}
						ul.innerHTML = imgHtmlStr;
						imgdiv.appendChild(ul);
					} else {
						imgdiv.className = "mui-card-content";
						var imgHtmlStr = '<img src="' + imgPath + imgs[0].replace(".jpg", "_s.jpg") + '" class="bigimage" data-preview-src="' + imgPath + imgs[0] + '" data-preview-group="' + item.Id + '">';
						imgdiv.innerHTML = imgHtmlStr;
					}

					var footdiv = document.createElement('div');
					footdiv.className = 'mui-card-content';
					footdiv.innerHTML = '<p>Posted on ' + item.PublishTime + '</p>' +
						'<p style="color: #333;">' + item.Description + '...</p>';
					li.appendChild(headdiv);
					li.appendChild(imgdiv);
					li.appendChild(footdiv);
					table.appendChild(li);
				}
			</script>

	</body>

</html>