<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/icons-extra.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/feedback.css" />
		<link rel="stylesheet" href="../../css/article/youji_new.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">写游记</h1>
			<button id="publishyouji" type="button" class="mui-btn mui-btn-primary mui-btn-outlined mui-pull-right">
					发布
			</button>
		</header>
		<div id="hideContent" style="display: none;"></div>

		<div class="mui-content feedback">
			<div class="mui-input-group">
				<div class="mui-input-row">
					<input id="youi_title" type="text" placeholder="请输入标题，6-12字最佳">
				</div>
			</div>
			<div class="mui-inline"></div>
			<div class="row mui-input-row description">
				<textarea id='description' class="mui-input-clear question" placeholder="游记简介，100字以内..."></textarea>
			</div>
			<p>设置封面图</p>
			<div class="row image-list">
				<div class="image-item space">
					<img style="max-height: 200px;width: 100%" id='setcoverimage' src="../../images/iconfont-tianjia.png">
				</div>
			</div>
			<!--谈出框-->
			<div id="middlePopover" class="mui-popover">
				<div class="mui-popover-arrow"></div>
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell">
								<a datetype="1" href="javascript:;">从本地相册上传</a>
							</li>
							<li class="mui-table-view-cell">
								<a datetype="2" href="javascript:;">从云相册选择图片</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--谈出框end-->
			<p>正文</p>
			<div class="mui-content-padded" style="margin: 0px">
				<div class="textareacontent"><textarea name='yjcontent' placeholder="试试插入微博内容，秒速发游记..."></textarea></div>
				<!--<div class="post-img mui-card">
					<div class="add-img" name='yjcontent'>
						<img src="../../images/cbd.jpg" type="upload" data-preview-src="" data-preview-group="1">
						<div class="post-move" role="operator" style="">
							<span class="del mui-icon mui-icon-trash" role="del"></span>
						</div>
					</div>
				</div>
				<div class="textareacontent"><textarea name="yjcontent">sahfjalfjdkljfl</textarea> </div>
				<div class="datetimeContent" name="yjcontent">
					<span>2018-02-06</span>
					<span class="cancel-datetime mui-icon mui-icon-close"></span>
				</div>
				<div class="gisContent" name="yjcontent">
					<span class="mui-icon mui-icon-location"></span>
					<span>北京市国家体育馆北京市国家体育馆北京市国家体育馆北京市国家体育馆</span>
					<span class="cancel-gis mui-icon mui-icon-close"></span>
				</div>
				<p><span>北京市国家体育馆</span></p>
				<div class="post-img mui-card">
					<div class="add-img" name='yjcontent'>
						<img src="../../images/cbd.jpg" type="upload" data-preview-src="" data-preview-group="1">
						<div class="post-move" role="operator" style="">
							<a class="del mui-icon mui-icon-trash" role="del"></a>
						</div>
					</div>
				</div>
				<div class="textareacontent"><textarea name="yjcontent">sahfjalfjdkljfl</textarea></div>-->
			</div>
			<div>
				<p>随时发布旅行动态，动动手指，生成完整游记，何乐而不为？</p>
			</div>
		</div>

		<footer class="mui-bar mui-bar-tab">
			<a class="mui-tab-item" id="selectWeibo"><span class="mui-icon-extra mui-icon-extra-new"></span></a>
			<a class="mui-tab-item" id='addimage'><span class="mui-icon mui-icon-image"></span></a>
			<a class="mui-tab-item" id="share"><span class="mui-icon mui-icon-camera"></span></a>
			<a class="mui-tab-item" id="preview_btn"><span class="mui-icon mui-icon-search"></span></a>
		</footer>
		<script src="../../js/mui.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/javascript" src="../../js/autosize.js"></script>
		<script type="text/template" id="textareacontent">
			<div class="textareacontent"><textarea name="yjcontent">$text$</textarea></div>
		</script>
		<script type='text/template' id='postimg'>
			<div class="post-img mui-card">
				<div class="add-img" name="yjcontent">
					<img src="$src$" type="upload" data-preview-src="" data-preview-group="1">
				</div>
				<div class="post-move" role="operator" style="">
					<span class="del mui-icon mui-icon-trash" role="del"></span>
				</div>
			</div>
		</script>
		<script type="text/template" id="datetimecontent">
			<div class="datetimeContent" name="yjcontent">
				<span>$PublishTime$</span>
				<span class="cancel-datetime mui-icon mui-icon-close"></span>
			</div>
		</script>
		<script type="text/template" id="giscontent">
			<div class="gisContent" name="yjcontent">
				<span class="mui-icon mui-icon-location"></span>
				<span>$LocationText$</span>
				<span class="cancel-gis mui-icon mui-icon-close"></span>
			</div>
		</script>
		<script type="text/javascript" src="../../js/article/youji_new.js"></script>
		<script type="text/javascript" src="../../js/article/youji_new_util.js"></script>
	</body>

</html>