<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/imageviewer.css" />
		<link rel="stylesheet" href="../../css/mui.picker.min.css" />
		<link rel="stylesheet" href="../../css/weibo/weibo.css" />
		<link rel="stylesheet" href="../../css/mui.pulltorefresh.css" />
		<style type="text/css">
			#datePicker1,
			#datePicker2 {
				width: 61%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title"><a href="#popover" id="openPopover" >按时间筛选 <i class="mui-icon mui-icon-arrowdown"></i></a></h1>
			<button id="submit" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">完成</button>
		</header>
		<div class="mui-content">
			<div id="popover" class="mui-popover">
				<div class="mui-input-group">
					<div class="mui-input-row">
						<a data-options='{"type":"date"}'></a>
					</div>
					<div class="mui-input-row">
						<label id='datePicker1' data-options='{"type":"date"}'>选择开始日期 ...</label>
					</div>
					<div class="mui-input-row mui-plus-visible">
						<label id='datePicker2' data-options='{"type":"date"}'>选择结束日期 ...</label>
					</div>
					<div class="mui-button-row">
						<button id="btn_closePop" type="button" class="mui-btn mui-btn-danger" onclick="return false;">取消</button>
						<button id="btn_submitTime" type="button" class="mui-btn mui-btn-primary" onclick="return false;">确认</button>&nbsp;&nbsp;
					</div>
				</div>
			</div>

			<div id="slider" class="mui-slider mui-fullscreen">
				<div class="mui-slider-group">
					<div class="mui-slider-item mui-control-content mui-active">
						<div id="pullrefresh" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul id="weibo-content" class="mui-table-view">
									<li class="mui-table-view-cell">
										<div class="mui-input-row">
											<p>2017-12-08</p>
										</div>
										<div class="mui-input-row mui-checkbox">
											<input name="checkbox1" value="Item 4" type="checkbox" checked="">
											<label>序号：2</label>
										</div>
										<div class="media-pic-list">
											<ul>
												<li>
													<img src="../../images/cbd.jpg" data-preview-src="" data-preview-group="1">
												</li>
												<li>
													<img src="../../images/cbd.jpg" data-preview-src="" data-preview-group="1">
												</li>
											</ul>
										</div>
										<div class="mui-card-content">
											<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/mui.zoom.js"></script>
		<script type="text/javascript" src="../../js/mui.previewimage.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/javascript" src="../../js/mui.picker.min.js"></script>
		<script type="text/javascript" src="../../js/mui.pullToRefresh.js"></script>
		<script type="text/javascript" src="../../js/mui.pullToRefresh.material.js"></script>
		<script type="text/template" id="weiboitem">
			<li class="mui-table-view-cell">
				<div class="mui-input-row">
					<p>$PublishTime$</p>
				</div>
				<div class="mui-input-row mui-checkbox">
					<input name="checkbox1" value="$Id$" type="checkbox">
					<label>序号:</label>
				</div>
				<div class="media-pic-list">
					$imglist$
				</div>
				<div class="mui-card-content">
					<p style="color: #333;">$Description$</p>
				</div>
			</li>
		</script>
		<script type="text/javascript" src="../../js/article/youji_new_selectweibo.js"></script>
		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
				//阻尼系数
				var deceleration = mui.os.ios ? 0.003 : 0.0009;
				mui('.mui-scroll-wrapper').scroll({
					bounce: false,
					indicators: true, //是否显示滚动条
					deceleration: deceleration
				});
				//默认加载第一页
				getFirstPage(function(data) {

				});

				mui("#pullrefresh .mui-scroll").pullToRefresh({
					down: {
						callback: function() {
							var self = this;
							//alert("down");
							pulldownRefresh(function(data) {
								if(data.IsSuccess == 1 && data.Data != null && data.Data.length > 0) {
									self.endPullDownToRefresh();
								} else {
									self.endPullDownToRefresh(true);
								}
							});
						}
					},
					up: {
						callback: function() {
							var self = this;
							pullupRefresh(function(data) {
								if(data.IsSuccess == 1 && data.Data != null && data.Data.length > 0) {
									self.endPullUpToRefresh();
								} else {
									self.endPullUpToRefresh(true);
								}
							});
						}
					}
				});
			});
		</script>
	</body>

</html>