<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/icons-extra.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/weibo.css" />
		<link rel="stylesheet" href="../../css/imageviewer.css" />
		<style type="text/css">
			.mui-scroll .mui-card {
				margin: 0 0 10px 0;
				padding: 10px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">我的途迹</h1>
		</header>
		<div class="mui-content">
			<div id="pullrefresh" class=" mui-scroll-wrapper ">
				<div class="mui-scroll">
					<!--<div class="mui-card">
						<div class="mui-card-content">
							<p style="color: #333;">这里显示文章摘要，让读者对文章内容有个粗略的概念...</p>
							<p>Posted on January 18, 2016</p>
						</div>
						<div class="media-pic-list">
							<ul>
								<li>
									<img src="../../images/cbd.jpg" data-preview-src="" data-preview-group="1">
								</li>
								<li>
									<img src="../../images/cbd.jpg" data-preview-src="" data-preview-group="1">
								</li>
							</ul>
						</div>
					</div>-->
				</div>
			</div>
			<script src="../../js/mui.min.js"></script>
			<script type="text/javascript" src="../../js/app.js"></script>
			<script type="text/javascript" src="../../js/mui.zoom.js"></script>
			<script type="text/javascript" src="../../js/mui.previewimage.js"></script>
			<script type="text/javascript" src="../../js/jquery.js"></script>
			<script type="text/javascript" src="../../js/commonUtil.js"></script>
			<script type="text/template" id='weiboitem'>
				<div class="mui-card" id="card_$Id$">
					<div class="mui-card-header mui-card-media">
						<img class="head-img" userid="$UserId$" src="$UserHeadImage$">
						<div class="mui-media-body">
							<em class="mui-icon mui-icon-person">$UserName$</em>
							<p>发表于 $PublishTime$</p>
						</div>
					</div>
					<div class="mui-card-content">
						<p>$Description$</p>
						<div class="media-pic-list">
							$imglist$
						</div>
						$cardlocation$
					</div>
					<div class="mui-card-footer">
						<span class="mui-icon-extra votebtn $isVote$" weiboid='$Id$'><em>$VoteCount$</em></span>
						<span class="mui-icon mui-icon-compose" weiboid='$Id$'><em id="commentCount_$Id$">$CommentCount$</em></span>
						<span class="mui-icon mui-icon-trash" weiboid='$Id$'></span>
					</div>
				</div>
			</script>
			<script>
				mui.init({
					swipeBack: false,
					pullRefresh: {
						container: '#pullrefresh',
						up: {
							auto: true, //可选,默认false.自动上拉加载一次
							contentrefresh: '正在加载...',
							callback: pullupRefresh
						}
					}

				});

				//添加列表项的点击事件  
				mui('.mui-content').on('tap', 'a', function(e) {
					var id = this.getAttribute('id');
				});
				mui.previewImage();
				var pageNum = 1;
				var pageSize = 30;
				/**
				 * 上拉加载具体业务实现
				 */
				function pullupRefresh() {
					var data = {
						pageindex: pageNum,
						pageSize: pageSize
					}
					commonUtil.sendRequestWithToken('http://api.myautos.cn/api/weibo/GetMyWeiBoList', data, false, function(data) {
						if(data.IsSuccess == 1 && data.Data != null && data.Data.length > 0) {
							var list = data.Data;
							var table = document.body.querySelector('.mui-scroll');
							for(var i = 0; i < list.length; i++) {
								var item = list[i];
								initWeiBoItem(table, item);
							}
						} else {
							mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
							return;
						}
						pageNum++;
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(); //参数为true代表没有更多数据了。
					});
				}

				var img_1200style = 'style/weibo_1200';
				var img_600style = 'style/weibo_600';
				var img_24style = 'style/weibo_24_16';
				var img_36style = 'style/weibo_36_24';
				var weiboTemplate = $('script[id="weiboitem"]').html();
				/**
				 * 添加数据
				 * @param {Object} table
				 * @param {Object} item
				 */
				function initWeiBoItem(table, item) {
					if(item.ContentValue == null || item.ContentValue == '') {
						return;
					}
					var imgHtmlStr = "";
					var imgs = item.ContentValue.split(',');
					if(imgs.length > 1) {
						//多图
						imgHtmlStr += "<ul>";
						for(var j = 0; j < imgs.length; j++) {
							imgHtmlStr += '<li><img src="' + imgs[j] + '" data-preview-src="' + imgs[j].replace(img_24style, img_1200style) + '" data-preview-group="' + item.Id + '"></li>';
						}
						imgHtmlStr += "</ul>";
					} else {
						imgHtmlStr = '<img src="' + imgs[0].replace(img_24style, img_36style) + '" class="bigimage" data-preview-src="' + imgs[0].replace(img_24style, img_1200style) + '" data-preview-group="' + item.Id + '">';
					}
					item.imglist = imgHtmlStr;
					//显示地理位置
					item.cardlocation = "";
					if(item.LocationText != "" && item.Longitude != "" && item.Lantitude != "") {
						var lbsStr = "<div weiboid='" + item.Id + "' class='card-location'><span class='mui-icon mui-icon-location'></span><span>" + item.LocationText + "</span></div>";
						item.cardlocation = lbsStr;
					}
					var cardStr = weiboTemplate.temp(item);
					$(".mui-scroll").append(cardStr);

				}

				//删除点击事件
				mui('.mui-scroll').on('tap', '.mui-icon-trash', function() {
					var weiboid = this.getAttribute('weiboid');
					mui.confirm("是否要删除？" + weiboid, "title", ["是", "否"], function(event, index) {
						console.log(JSON.stringify(event));
						if(event.index == 0) {
							var url = 'http://api.myautos.cn/api/weibo/WeiboDelete';
							var dataPara = {
								id: weiboid
							}
							commonUtil.sendRequestWithToken(url, dataPara, true, function(data) {
								console.log(JSON.stringify(data));
								if(data.IsSuccess == 1) {
									//plus.webview.currentWebview().reload();
									$("#card_"+weiboid).remove();
								} else {
									mui.toast("删除失败");
								}
							});
						}
					});

				});
			</script>
	</body>

</html>