<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
		<link rel="stylesheet" href="../../css/imageviewer.css" />
		<link rel="stylesheet" href="../../js/qqFace/css/reset.css" />
		<link rel="stylesheet" href="../../css/weibo/weibo_item.css" />
		<link rel="stylesheet" href="../../css/weibo/comment.css" />
		<style type="text/css">
			.mui-content {
				background-color: #fff;
			}
			
			.mui-cardlist .weibo-card {
				position: relative;
				overflow: hidden;
				padding: 11px 15px;
				list-style: none;
				/* border-bottom: 1px solid #eceff4; */
			}
			
			.comment-content {
				padding: 12px 9px;
				margin: 0px;
			}
			.pnglun-tag{
				background-color: #e5e8ec;
				margin: 0px;;
				padding: 10px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">微博</h1>
		</header>
		<div class="mui-content">
			<div class="mui-cardlist" id="content">
				<!--<div class="weibo-card">
					<div class="user_info">
						<img src="../../images/logo1.png">
						<span class="name">silva</span>
					</div>
					<div class="user_detail">
						<p class="text">
							欧亚大陆桥一共是两座。1973年博斯普鲁斯海峡上建起第一座跨海公路大吊桥。 桥的两头各有一呈门字型的高达165米的桥塔，水中不设桥墩。
						</p>
						<div class="list_img">
							<a href="#">
								<img src="../../images/cbd.jpg">
							</a>
							<a href="#">
								<img src="../../images/datong.png">
							</a>
							<a href="#">
								<img src="../../images/jeep.png">
							</a>
						</div>
						<div class='card-location'><span class="mui-icon mui-icon-location"></span><span>新疆罗布泊303国道</span></div>
						<div class="user_news">
							<span class="time">21分钟前</span>
							<div class="detail">
								<span class="love">
											<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-xihuan"></use>
  												<span>358</span>
								</svg>
								</span>
								<span class="comment">
											<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-tuji-pinglun-copy"></use>
  												<span>3658</span>
								</svg>
								</span>
							</div>
						</div>
					</div>
				</div>-->
			</div>
			<div class="mui-content-padded pnglun-tag">
				<div class="mui-inline">评论</div>
			</div>
			<div class="comment-content">
				<div class="row mui-input-row">
					<textarea id='comment_text' class="mui-input-clear question" placeholder="请输入评论内容..."></textarea>
				</div>
				<div class="mui-card-content">
					<a id="icon-plus" class="emotion"><span class="mui-icon mui-icon-plus"></span></a>
					<button id="comment_submit" type="button" class="mui-btn mui-btn-primary mui-btn-outlined mui-pull-right">
					发布
			</button>
				</div>
				<div class="mui-content-padded">
					<div class="mui-inline">评论列表</div>
				</div>
				<div id='comment' class="comment-list-content mui-card-content">
					<p>暂无评论</p>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/mui.zoom.js"></script>
		<script type="text/javascript" src="../../js/mui.previewimage.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/javascript" src="../../js/commenConfig.js" ></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/qqFace/js/jquery.qqFace.js"></script>
		<script type="text/javascript" src="../../css/iconfont/iconfont.js"></script>
		<script type="text/template" id='comment_item'>
			<dl class="comment-list hot" commentid="@comment.Id">
				<dt>
                        <i class="headpic">
                            <img src="$HeadImage$">
                        </i>
                        <em class="userinfo">
                            $UserName$
                            <p>$CreateTime$</p>
                        </em>
                        <em class="commentvote">
                            <a class="comment_to" commentid='$Id$'><span class="mui-icon mui-icon-compose"></span></a>
                        </em>
                </dt>
				<dd>
					<p>
						$ContentText$
					</p>
				</dd>
				$tocomment$
			</dl>
		</script>
		<script type="text/template" id="comment_item_to">
			<dl class="quote">
				<dt>
                    <i class="headpic">
                        <img src="$HeadImage$">
                    </i>
                    <em class="userinfo">
                        $UserName$
                        $CreateTime$
                     </em>
                </dt>
				<dd>
					<p>
						$ContentText$
					</p>
				</dd>
			</dl>
		</script>
		<script type="text/template" id="card-weibo">
			<div class="weibo-card" id="card_$Id$">
				<div class="user_info">
					<img userid="$UserId$" src="$UserHeadImage$">
					<span class="name">$UserName$</span>
				</div>
				<div class="user_detail">
					<p class="text">
						$Description$
					</p>
					<div class="list_img">
						$imglist$
					</div>
					$cardlocation$
					<div class="user_news">
						<span class="time">$PublishTime$</span>
						<div class="detail">
							<span class="love">
								<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-xihuan"></use>
  									<span>$VoteCount$</span>
							</svg>
							</span>
							<span class="comment">
								<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-tuji-pinglun-copy"></use>
  												<span>$CommentCount$</span>
							</svg>
							</span>
						</div>
					</div>
				</div>
			</div>
		</script>
		<script type="text/javascript" src="../../js/weibo/weibo_preview.js" ></script>
	</body>
</html>