<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/feedback.css" />
		<link rel="stylesheet" href="../../css/weibo/comment.css" />
		<link rel="stylesheet" href="../../js/qqFace/css/reset.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">热门评论</h1>
		</header>
		<div class="mui-content">
			<div class="mui-content-padded">
				<div class="mui-inline">评论</div>
			</div>
			<div class="row mui-input-row">
				<textarea id='comment_text' class="mui-input-clear question" placeholder="请输入评论内容..."></textarea>
			</div>
			<div class="mui-card-content">
				<a id="icon-plus" class="emotion"><span class="mui-icon mui-icon-plus"></span></a>
				<button id="comment_submit" type="button" class="mui-btn mui-btn-primary mui-btn-outlined mui-pull-right">
					发布
			</button>
			</div>
			<div class="mui-content-padded">
				<div class="mui-inline">评论列表</div>
			</div>
			<div id='comment' style="background-color:#fff;min-height: 50px;" class="mui-card-content">
				<p>暂无评论</p>
			</div>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<!--<script type="text/javascript" src="http://img.myautos.cn/UI_file/js/qqFace/js/jquery.qqFace.js"></script>-->
		<script type="text/javascript" src="../../js/qqFace/js/jquery.qqFace.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/template" id='comment_item'>
			<dl class="comment-list hot" commentid="@comment.Id">
				<dt>
                        <i class="headpic">
                            <img src="$HeadImage$">
                        </i>
                        <em class="userinfo">
                            $UserName$
                            <p>$CreateTime$</p>
                        </em>
                        <em class="commentvote">
                            <a class="comment_to" commentid='$Id$'><span class="mui-icon mui-icon-compose"></span></a>
                        </em>
                </dt>
				<dd>
					<p>
						$ContentText$
					</p>
				</dd>
				$tocomment$
			</dl>
		</script>
		<script type="text/template" id="comment_item_to">
			<dl class="quote">
				<dt>
                    <i class="headpic">
                        <img src="$HeadImage$">
                    </i>
                    <em class="userinfo">
                                $UserName$
                            <p>$CreateTime$</p>
                            </em>
                </dt>
				<dd>
					<p>
						$ContentText$
					</p>
				</dd>
			</dl>
		</script>

		<script type="text/javascript">
			mui.init();
			var cweiboid = 0;
			var toCommentId = 0; //会否某人的评论
			mui.plusReady(function() {
				//获取参数
				var self = plus.webview.currentWebview();
				var weiboid = self.weiboid;
				cweiboid = weiboid;
				getCommentLists(weiboid);

			});

			$(function() {
				$('.emotion').qqFace({
					assign: 'comment_text',
					path: '../../js/qqFace/arclist/' //表情存放的路径
				});
			});

			//查看结果

			function replace_em(str) {
				str = str.replace(/\</g, '&lt;');
				str = str.replace(/\>/g, '&gt;');
				str = str.replace(/\n/g, '<br/>');
				str = str.replace(/\[em_([0-9]*)\]/g, '<img src="../../js/qqFace/arclist/$1.gif" border="0" />');
				return str;
			}

			document.getElementById('comment_submit').addEventListener('tap', function() {
				console.log(cweiboid);
				var textStr = $("#comment_text").val();
				var url = 'http://api.myautos.cn/api/weibovote/NewWeiBoComment';
				var data = {
					WeiBoId: cweiboid,
					CommentStr: textStr,
					ToCommentId: toCommentId
				}
				commonUtil.sendRequestWithToken(url, data, true, function(data) {
					if(data.IsSuccess == 1 && data.Data != null) {
						mui.toast("评论成功");
						$("#comment_text").val("");
						getCommentLists(cweiboid);
						//触发自定义事件。评论数+1
						var articlePage = plus.webview.getWebviewById('tab-webview-subpage-weibo.html');
						mui.fire(articlePage, 'weiboComment', {
							weiboid: cweiboid
						});
					} else {
						mui.toast("评论失败");
					}
				});
			});

			function getCommentLists(weiboId) {
				var url = 'http://api.myautos.cn/api/WeiBoVote/GetWeiboCommentList';
				var data = {
					weiboid: weiboId,
					pagesize: 10,
					page: 1
				};
				commonUtil.sendRequestGet(url, data, function(data) {
					if(data.IsSuccess == 1 && data.Data != null) {
						$("#comment").html("");
						var list = data.Data;
						for(var i = 0; i < list.length; i++) {
							var item = list[i];
							initComment(item);
						}
					}
				});
			}

			function initComment(item) {
				var template = $('script[id="comment_item"]').html();
				var toTemplate = $('script[id="comment_item_to"]').html();
				if(item.ToCommentId > 0 && item.ToCommentItemVm != null) {
					item.ToCommentItemVm.ContentText = replace_em(item.ToCommentItemVm.ContentText);
					var htmlTo = toTemplate.temp(item.ToCommentItemVm);
					item.tocomment = htmlTo;
				}
				//显示qqFace
				item.ContentText = replace_em(item.ContentText);
				var articleHtmlStr = template.temp(item);
				$("#comment").append(articleHtmlStr);
			}

			//评论 回复  comment_to
			mui('#comment ').on('tap', '.comment_to', function() {
				var Id = this.getAttribute('commentid');
				toCommentId = Id;
				console.log(toCommentId);
				$('#comment_text').focus();
			});
		</script>
	</body>

</html>