<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
		<link rel="stylesheet" href="../../css/weibo.css" />
		<link rel="stylesheet" href="../../css/imageviewer.css" />
		<link rel="stylesheet" href="../../css/weibo/comment.css" />
		<link rel="stylesheet" href="../../js/qqFace/css/reset.css" />
		<style type="text/css">
			.mui-icon-extra-heart {
				position: relative;
				float: right;
			}
			
			.mui-card-footer em {
				font-size: 15px;
			}
			
			.mui-cardlist .mui-card {
				margin: 0 0 10px 0;
			}
			
			.mui-card .mui-card-content {
				padding: 5px 5px 5px 10px
			}
			
			.mui-card .mui-card-content p {
				margin-bottom: 0px;
			}
			
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 18px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">微博</h1>
		</header>
		<div class="mui-content">
			<div class="mui-cardlist" id="content">
				<!--<div class="mui-card">
					<div class="mui-card-header mui-card-media">
						<img src="images/logo.png">
						<div class="mui-media-body">
							小Mf
							<p>发表于 2016-06-30 15:30</p>
						</div>
					</div>
					<div class="mui-card-content">
						<p>的空间疯狂的健康</p>
						<div class="media-pic-list">
							<ul>
								<li>
									<img src="../../images/60x60.gif" data-preview-src="" data-preview-group="1">
								</li>
								<li>
									<img src="../../images/60x60.gif" data-preview-src="" data-preview-group="1">
								</li>
							</ul>
						</div>
					</div>
					<div class="mui-card-footer">
						<span class="mui-icon-extra mui-icon-extra-heart"><em>5</em></span>
						<span class="mui-icon mui-icon-compose"></span>
					</div>
				</div>-->
			</div>
			<div class="mui-content-padded">
				<div class="mui-inline">评论</div>
			</div>
			<div class="row mui-input-row">
				<textarea id='comment_text' class="mui-input-clear question" placeholder="请输入评论内容..."></textarea>
			</div>
			<div class="mui-card-content">
				<a id="icon-plus" class="emotion"><span class="mui-icon mui-icon-plus"></span></a>
				<button id="comment_submit" type="button" class="mui-btn mui-btn-primary mui-btn-outlined mui-pull-right">
					发布
			</button>
			</div>
			<div class="mui-content-padded">
				<div class="mui-inline">评论列表</div>
			</div>
			<div id='comment' style="background-color:#fff;min-height: 50px;" class="mui-card-content">
				<p>暂无评论</p>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/mui.zoom.js"></script>
		<script type="text/javascript" src="../../js/mui.previewimage.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/qqFace/js/jquery.qqFace.js"></script>
		<script type="text/template" id='comment_item'>
			<dl class="comment-list hot" commentid="@comment.Id">
				<dt>
                        <i class="headpic">
                            <img src="$HeadImage$">
                        </i>
                        <em class="userinfo">
                            $UserName$
                            <p>$CreateTime$</p>
                        </em>
                        <em class="commentvote">
                            <a class="comment_to" commentid='$Id$'><span class="mui-icon mui-icon-compose"></span></a>
                        </em>
                </dt>
				<dd>
					<p>
						$ContentText$
					</p>
				</dd>
				$tocomment$
			</dl>
		</script>
		<script type="text/template" id="comment_item_to">
			<dl class="quote">
				<dt>
                    <i class="headpic">
                        <img src="$HeadImage$">
                    </i>
                    <em class="userinfo">
                        $UserName$
                        $CreateTime$
                     </em>
                </dt>
				<dd>
					<p>
						$ContentText$
					</p>
				</dd>
			</dl>
		</script>
		<script type="text/template" id="card-weibo">
			<div class="mui-card">
				<div class="mui-card-header mui-card-media">
					<img class="head-img" userid="$UserId$" src="$UserHeadImage$">
					<div class="mui-media-body">
						<em class="mui-icon mui-icon-person">$UserName$</em>
						<p>发表于 $PublishTime$</p>
					</div>
				</div>
				<div class="mui-card-content">
					<p>$Description$</p>
					<div class="media-pic-list">
						$imglist$
					</div>
					$cardlocation$
				</div>
				<div class="mui-card-footer">
					<span class="mui-icon-extra votebtn mui-icon-extra-heart" weiboid='$Id$'><em>$VoteCount$</em></span>
					<span class="mui-icon mui-icon-compose" weiboid='$Id$'><em id="commentCount_$Id$">$CommentCount$</em></span>
				</div>
			</div>
		</script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true
			});
			var cweiboid = 0;
			var toCommentId = 0; //会否某人的评论
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				var weiboid = self.weiboid;
				cweiboid = weiboid;
				getWeibo(weiboid);
				getCommentLists(weiboid);
				mui.previewImage();
			});

			var img_1200style = 'style/weibo_1200';
			var img_600style = 'style/weibo_600';
			var img_24style = 'style/weibo_24_16';
			var img_36style = 'style/weibo_36_24';

			function getWeibo(weiboid) {
				var url = 'http://api.myautos.cn/api/WeiBo/GetWeiBoById';
				var data = {
					weiboid: weiboid
				};
				commonUtil.sendRequestGet(url, data, function(data) {
					//console.log(JSON.stringify(data))
					if(data.IsSuccess == 1 && data.Data != null) {
						var weiboTemplate = $('script[id="card-weibo"]').html();
						var weibo = data.Data;
						var imgHtmlStr = "";
						var imgs = weibo.ContentValue.split(',');
						if(imgs.length > 1) {
							//多图
							imgHtmlStr += "<ul>";
							for(var j = 0; j < imgs.length; j++) {
								imgHtmlStr += '<li><img src="' + imgs[j] + '" data-preview-src="' + imgs[j].replace(img_24style, img_1200style) + '" data-preview-group="' + weibo.Id + '"></li>';
							}
							imgHtmlStr += "</ul>";
						} else {
							imgHtmlStr = '<img src="' + imgs[0].replace(img_24style, img_36style) + '" class="bigimage" data-preview-src="' + imgs[0].replace(img_24style, img_1200style) + '" data-preview-group="' + item.Id + '">';
						}
						weibo.imglist = imgHtmlStr;
						//显示地理位置
						weibo.cardlocation = "";
						if(weibo.LocationText != "" && weibo.Longitude != "" && weibo.Lantitude != "") {
							var lbsStr = "<div weiboid='" + weibo.Id + "' class='card-location'><span class='mui-icon mui-icon-location'></span><span>" + weibo.LocationText + "</span></div>";
							weibo.cardlocation = lbsStr;
						}
						var cardStr = weiboTemplate.temp(weibo);
						$("#content").append(cardStr);
					}
				});
			}

			function getCommentLists(weiboId) {
				var url = 'http://api.myautos.cn/api/WeiBoVote/GetWeiboCommentList';
				console.log("11--" + weiboId)
				var data = {
					weiboid: weiboId,
					pagesize: 10,
					page: 1
				};
				commonUtil.sendRequestGet(url, data, function(data) {
					//console.log(JSON.stringify(data))
					if(data.IsSuccess == 1 && data.Data != null) {
						$("#comment").html("");
						var list = data.Data;
						for(var i = 0; i < list.length; i++) {
							var item = list[i];
							initComment(item);
						}
					} else {
						$("#comment").append("<p>暂无更多数据</p>");
					}
				});
			}

			function initComment(item) {
				var template = $('script[id="comment_item"]').html();
				var toTemplate = $('script[id="comment_item_to"]').html();
				if(item.ToCommentId > 0 && item.ToCommentItemVm != null) {
					item.ToCommentItemVm.ContentText = replace_em(item.ToCommentItemVm.ContentText);
					var htmlTo = toTemplate.temp(item.ToCommentItemVm);
					item.tocomment = htmlTo;
				}
				//显示qqFace
				item.ContentText = replace_em(item.ContentText);
				var articleHtmlStr = template.temp(item);
				$("#comment").append(articleHtmlStr);
			}

			$(function() {
				$('.emotion').qqFace({
					assign: 'comment_text',
					path: '../../js/qqFace/arclist/' //表情存放的路径
				});
			});

			//查看结果

			function replace_em(str) {
				str = str.replace(/\</g, '&lt;');
				str = str.replace(/\>/g, '&gt;');
				str = str.replace(/\n/g, '<br/>');
				str = str.replace(/\[em_([0-9]*)\]/g, '<img src="../../js/qqFace/arclist/$1.gif" border="0" />');
				return str;
			}

			//提交评论
			document.getElementById('comment_submit').addEventListener('tap', function() {
				console.log(cweiboid);
				var textStr = $("#comment_text").val();
				var url = 'http://api.myautos.cn/api/weibovote/NewWeiBoComment';
				var data = {
					WeiBoId: cweiboid,
					CommentStr: textStr,
					ToCommentId: toCommentId
				}
				commonUtil.sendRequestWithToken(url, data, true, function(data) {
					//console.log(JSON.stringify(data));
					if(data.IsSuccess == 1 && data.Data != null) {
						mui.toast("评论成功");
						$("#comment_text").val("");
						getCommentLists(cweiboid);
						//触发自定义事件。评论数+1
						var articlePage = plus.webview.getWebviewById('tab-webview-subpage-weibo.html');
						mui.fire(articlePage, 'weiboComment', {
							weiboid: cweiboid
						});
					} else {
						mui.toast("评论失败");
					}
				});
			});

			//评论 回复  comment_to
			mui('#comment ').on('tap', '.comment_to', function() {
				var Id = this.getAttribute('commentid');
				toCommentId = Id;
				console.log(toCommentId);
				$('#comment_text').focus();
			});
		</script>
	</body>

</html>