<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/imageviewer.css" />
		<link rel="stylesheet" href="../../css/iconfont/iconfont.css" />
		<link rel="stylesheet" href="../../css/weibo/weibo_item.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">我的途迹</h1>
		</header>
		<div class="mui-content">
			<div id="pullrefresh" class=" mui-scroll-wrapper ">
				<div class="mui-scroll">
					<ul class="mui-table-view">
						<li class="weibo-card">
							<div class="user_info">
								<img src="../../images/logo1.png">
								<span class="name">silva</span>
							</div>
							<div class="user_detail">
								<p class="text">
									欧亚大陆桥一共是两座。1973年博斯普鲁斯海峡上建起第一座跨海公路大吊桥。 桥的两头各有一呈门字型的高达165米的桥塔，水中不设桥墩。
								</p>
								<div class="list_img">
									<a href="#">
										<img src="../../images/cbd.jpg">
									</a>
									<a href="#">
										<img src="../../images/datong.png">
									</a>
									<a href="#">
										<img src="../../images/jeep.png">
									</a>
								</div>
								<div class='card-location'><span class="mui-icon mui-icon-location"></span><span>新疆罗布泊303国道</span></div>
								<div class="user_news">
									<span class="time">21分钟前</span>
									<div class="detail">
										<span class='delete_weibo'>
											<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-shanchu"></use>
										</svg>
										</span>
										<span class="love">
											<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-xihuan"></use>
  												<span>358</span>
										</svg>
										</span>
										<span class="comment">
											<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-tuji-pinglun-copy"></use>
  												<span>3658</span>
										</svg>
										</span>
									</div>
								</div>
							</div>
						</li>
						<li class="weibo-card">
							<div class="user_info">
								<img src="../../images/cbd.jpg">
								<span class="name">176斤的胖子</span>
							</div>
							<div class="user_detail">
								<p class="text">
									欧亚大陆桥一共是两座。1973年博斯普鲁斯海峡上建起第一座跨海公路大吊桥。桥的两头各有一呈门字型的高达165米的桥塔，水中不设桥墩。
								</p>
								<div class="list_img">
									<a href="#">
										<img src="../../js/cropper/picture.jpg" style="width:95%; height: 170px;border-radius:2px;">
									</a>
								</div>
								<div class="user_news">
									<span class="time">2小时前</span>
									<div class="detail">
										<span class="love">
											<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-xihuan"></use>
  												<span>358</span>
										</svg>
										</span>
										<span class="comment">
											<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-tuji-pinglun-copy"></use>
  												<span>3658</span>
										</svg>
										</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/mui.zoom.js"></script>
		<script type="text/javascript" src="../../js/mui.previewimage.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/javascript" src="../../css/iconfont/iconfont.js"></script>
		<script type="text/template" id='weiboitem'>
			<li class="weibo-card" id="card_$Id$">
				<div class="user_info">
					<img userid="$UserId$" src="$UserHeadImage$">
					<span class="name">$UserName$</span>
				</div>
				<div class="user_detail">
					<p class="text">
						$Description$
					</p>
					<div class="list_img">
						$imglist$
					</div>
					$cardlocation$
					<div class="user_news">
						<span class="time">$PublishTime$</span>
						<div class="detail">
							<span class='delete_weibo' weiboid='$Id$'>
											<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-shanchu"></use>
										</svg>
							</span>
							<span class="love">
								<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-xihuan"></use>
  									<span>$VoteCount$</span>
							</svg>
							</span>
							<span class="comment">
								<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-tuji-pinglun-copy"></use>
  												<span>$CommentCount$</span>
								</svg>
							</span>
						</div>
					</div>
				</div>
			</li>
		</script>
		<script type="text/javascript" src="../../js/weibo/weibo_my.js"></script>
	</body>

</html>