<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/icons-extra.css" />
		<link rel="stylesheet" href="../../css/imageviewer.css" />
		<link rel="stylesheet" href="../../js/qqFace/css/reset.css" />
		<link rel="stylesheet" href="../../css/weibo/weibo_item.css" />
		<link rel="stylesheet" href="../../css/weibo/comment.css" />
		<style type="text/css">
			.mui-content {
				background-color: #fff;
			}
			
			.mui-cardlist .weibo-card {
				position: relative;
				overflow: hidden;
				padding: 11px 15px;
				list-style: none;
				/* border-bottom: 1px solid #eceff4; */
			}
			
			.comment-content {
				padding: 12px 9px;
				margin: 0px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">微博</h1>
		</header>
		<div class="mui-content">
			<div class="mui-cardlist" id="content">
				<!--<div class="weibo-card">
					<div class="user_info">
						<img src="../../images/logo1.png">
						<span class="name">silva</span>
					</div>
					<div class="user_detail">
						<p class="text">
							欧亚大陆桥一共是两座。1973年博斯普鲁斯海峡上建起第一座跨海公路大吊桥。 桥的两头各有一呈门字型的高达165米的桥塔，水中不设桥墩。
						</p>
						<div class="list_img">
							<a href="#">
								<img src="../../images/cbd.jpg">
							</a>
							<a href="#">
								<img src="../../images/datong.png">
							</a>
							<a href="#">
								<img src="../../images/jeep.png">
							</a>
						</div>
						<div class='card-location'><span class="mui-icon mui-icon-location"></span><span>新疆罗布泊303国道</span></div>
						<div class="user_news">
							<span class="time">21分钟前</span>
							<div class="detail">
								<span class='delete_weibo'>
											<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-shanchu"></use>
										</svg>
										</span>
								<span class="love">
											<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-xihuan"></use>
  												<span>358</span>
								</svg>
								</span>
								<span class="comment">
											<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-tuji-pinglun-copy"></use>
  												<span>3658</span>
								</svg>
								</span>
							</div>
						</div>
					</div>
				</div>-->
			</div>
			<div class="mui-content-padded">
				<div class="mui-inline">评论</div>
			</div>
			<div class="comment-content">
				<div class="row mui-input-row">
					<textarea id='comment_text' class="mui-input-clear question" placeholder="请输入评论内容..."></textarea>
				</div>
				<div class="mui-card-content">
					<a id="icon-plus" class="emotion"><span class="mui-icon mui-icon-plus"></span></a>
					<button id="comment_submit" type="button" class="mui-btn mui-btn-primary mui-btn-outlined mui-pull-right">
					发布
			</button>
				</div>
				<div class="mui-content-padded">
					<div class="mui-inline">评论列表</div>
				</div>
				<div id='comment' class="comment-list-content mui-card-content">
					<p>暂无评论</p>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/mui.zoom.js"></script>
		<script type="text/javascript" src="../../js/mui.previewimage.js"></script>
		<script type="text/javascript" src="../../js/commonUtil.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/qqFace/js/jquery.qqFace.js"></script>
		<script type="text/javascript" src="../../css/iconfont/iconfont.js"></script>
		<script type="text/template" id='comment_item'>
			<dl class="comment-list hot" commentid="@comment.Id">
				<dt>
                        <i class="headpic">
                            <img src="$HeadImage$">
                        </i>
                        <em class="userinfo">
                            $UserName$
                            <p>$CreateTime$</p>
                        </em>
                        <em class="commentvote">
                            <a class="comment_to" commentid='$Id$'><span class="mui-icon mui-icon-compose"></span></a>
                        </em>
                </dt>
				<dd>
					<p>
						$ContentText$
					</p>
				</dd>
				$tocomment$
			</dl>
		</script>
		<script type="text/template" id="comment_item_to">
			<dl class="quote">
				<dt>
                    <i class="headpic">
                        <img src="$HeadImage$">
                    </i>
                    <em class="userinfo">
                        $UserName$
                        $CreateTime$
                     </em>
                </dt>
				<dd>
					<p>
						$ContentText$
					</p>
				</dd>
			</dl>
		</script>
		<script type="text/template" id="card-weibo">
			<div class="weibo-card" id="card_$Id$">
				<div class="user_info">
					<img userid="$UserId$" src="$UserHeadImage$">
					<span class="name">$UserName$</span>
				</div>
				<div class="user_detail">
					<p class="text">
						$Description$
					</p>
					<div class="list_img">
						$imglist$
					</div>
					$cardlocation$
					<div class="user_news">
						<span class="time">$PublishTime$</span>
						<div class="detail">
							<span class="love">
								<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-xihuan"></use>
  									<span>$VoteCount$</span>
							</svg>
							</span>
							<span class="comment">
								<svg class="svg-icon" aria-hidden="true">
  												<use xlink:href="#icon-tuji-pinglun-copy"></use>
  												<span>$CommentCount$</span>
							</svg>
							</span>
						</div>
					</div>
				</div>
			</div>
		</script>
		<script type="text/javascript">
			mui.init({
				swipeBack: true
			});
			var cweiboid = 0;
			var toCommentId = 0; //会否某人的评论
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				var weiboid = self.weiboid;
				cweiboid = weiboid;
				getWeibo(weiboid);
				getCommentLists(weiboid);
				mui.previewImage();
			});

			var img_1200style = 'style/weibo_1200';
			var img_600style = 'style/weibo_600';
			var img_24style = 'style/weibo_24_16';
			var img_200style = 'style/weibo_200_200';
			var img_60style = 'style/weibo_60_34';

			function getWeibo(weiboid) {
				var url = 'http://api.myautos.cn/api/WeiBo/GetWeiBoById';
				var data = {
					weiboid: weiboid
				};
				commonUtil.sendRequestGet(url, data, function(data) {
					//console.log(JSON.stringify(data))
					if(data.IsSuccess == 1 && data.Data != null) {
						var weiboTemplate = $('script[id="card-weibo"]').html();
						var weibo = data.Data;
						var imgHtmlStr = "";
						var imgs = weibo.ContentValue.split(',');
						if(imgs.length > 1) {
							//多图
							for(var j = 0; j < imgs.length; j++) {
								imgHtmlStr += '<a href="#"><img src="' + imgs[j].replace(img_24style, img_200style) + '" data-preview-src="' + imgs[j].replace(img_24style, img_1200style) + '" data-preview-group="' + weibo.Id + '"></a>';
							}
						} else {
							imgHtmlStr = '<a href="#"><img class="bigimage" src="' + imgs[0].replace(img_24style, img_60style) + '" class="bigimage" data-preview-src="' + imgs[0].replace(img_24style, img_1200style) + '" data-preview-group="' + weibo.Id + '"></a>';
						}
						weibo.imglist = imgHtmlStr;
						//qq表情
						weibo.Description = replace_em(weibo.Description);
						//显示地理位置
						weibo.cardlocation = "";
						if(weibo.LocationText != "" && weibo.Longitude != "" && weibo.Lantitude != "") {
							var lbsStr = "<div weiboid='" + weibo.Id + "' class='card-location'><span class='mui-icon mui-icon-location'></span><span>" + weibo.LocationText + "</span></div>";
							weibo.cardlocation = lbsStr;
						}
						var cardStr = weiboTemplate.temp(weibo);
						$("#content").append(cardStr);
					}
				});
			}

			function getCommentLists(weiboId) {
				var url = 'http://api.myautos.cn/api/WeiBoVote/GetWeiboCommentList';
				//console.log("11--" + weiboId)
				var data = {
					weiboid: weiboId,
					pagesize: 10,
					page: 1
				};
				commonUtil.sendRequestGet(url, data, function(data) {
					//console.log(JSON.stringify(data))
					if(data.IsSuccess == 1 && data.Data != null) {
						$("#comment").html("");
						var list = data.Data;
						for(var i = 0; i < list.length; i++) {
							var item = list[i];
							initComment(item);
						}
					} else {
						$("#comment").append("<p>暂无更多数据</p>");
					}
				});
			}

			function initComment(item) {
				var template = $('script[id="comment_item"]').html();
				var toTemplate = $('script[id="comment_item_to"]').html();
				if(item.ToCommentId > 0 && item.ToCommentItemVm != null) {
					item.ToCommentItemVm.ContentText = replace_em(item.ToCommentItemVm.ContentText);
					var htmlTo = toTemplate.temp(item.ToCommentItemVm);
					item.tocomment = htmlTo;
				}
				//显示qqFace
				item.ContentText = replace_em(item.ContentText);
				var articleHtmlStr = template.temp(item);
				$("#comment").append(articleHtmlStr);
			}

			$(function() {
				$('.emotion').qqFace({
					assign: 'comment_text',
					path: '../../js/qqFace/arclist/' //表情存放的路径
				});
			});

			//查看结果
			function replace_em(str) {
				str = str.replace(/\</g, '&lt;');
				str = str.replace(/\>/g, '&gt;');
				str = str.replace(/\n/g, '<br/>');
				str = str.replace(/\[em_([0-9]*)\]/g, '<img src="../../js/qqFace/arclist/$1.gif" border="0" />');
				return str;
			}

			//提交评论
			document.getElementById('comment_submit').addEventListener('tap', function() {
				console.log(cweiboid);
				var textStr = $("#comment_text").val();
				var url = 'http://api.myautos.cn/api/weibovote/NewWeiBoComment';
				var data = {
					WeiBoId: cweiboid,
					CommentStr: textStr,
					ToCommentId: toCommentId
				}
				commonUtil.sendRequestWithToken(url, data, true, function(data) {
					//console.log(JSON.stringify(data));
					if(data.IsSuccess == 1 && data.Data != null) {
						mui.toast("评论成功");
						$("#comment_text").val("");
						getCommentLists(cweiboid);
						//触发自定义事件。评论数+1
						var articlePage = plus.webview.getWebviewById('tab-webview-subpage-weibo.html');
						mui.fire(articlePage, 'weiboComment', {
							weiboid: cweiboid
						});
					} else {
						mui.toast("评论失败");
					}
				});
			});

			//评论 回复  comment_to
			mui('#comment ').on('tap', '.comment_to', function() {
				var Id = this.getAttribute('commentid');
				toCommentId = Id;
				console.log(toCommentId);
				$('#comment_text').focus();
			});
		</script>
	</body>

</html>