<!doctype html>
<html lang="en" class="feedback">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/weibo/weibo_add.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<button id="submit" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">发送</button>
			<h1 class="mui-title">发布微博</h1>
		</header>
		<div class="mui-content">
			<div class="mui-content-padded">
				<div class="mui-inline">游记小记</div>

			</div>
		</div>
		<div class="row mui-input-row">
			<textarea id='description' class="mui-input-clear question" placeholder="请说说现在的想法和感受..."></textarea>
		</div>
		<p>图片(最多可选择6张图片)</p>
		<div id="image-list" class="row image-list">
			<!--<div class="image-item" style="background-image: url(../../images/cbd.jpg);">
				<div class="image-close">X</div>
			
				<div class="file" id="image-1"></div>
			</div>-->

		</div>
		<div id="geoLocation" class="mui-table-view-cell">
			<span>显示地理位置</span>
			<div id="mySwitch" class="mui-switch">
				<div class="mui-switch-handle"></div>
			</div>
		</div>
		<p id="locationtxt"></p>
		<div id='newyouji' class="mui-btn mui-btn-primary">
			写游记
		</div>
		<div id='youjidraft' class="mui-btn mui-btn-primary">
			游记草稿
		</div>
		<br />
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/weibo/weibo_add.js"></script>
		<script type="application/javascript">
			mui.init();
			document.getElementById('newyouji').addEventListener('tap', function() {
				mui.openWindow({
					url: "../article/youji_new.html",
					id: "youji_new",
					show: {
						aniShow: 'slide-in-right',
						duration: 200
					}
				});
			});

			document.getElementById('youjidraft').addEventListener('tap', function() {
				mui.openWindow({
					url: "../article/youji_mydraft.html",
					id: "youji_mydraft",
					show: {
						aniShow: 'slide-in-right',
						duration: 200
					}
				});
			});
		</script>

	</body>

</html>