<!doctype html>
<html lang="en" class="feedback">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/weibo/weibo_add.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<button id="submit" class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">发送</button>
			<h1 class="mui-title">发布微博</h1>
		</header>
		<div class="mui-content">
			<div class="mui-content-padded">
				<div class="mui-inline">本站小记</div>

			</div>
		</div>
		<div class="row mui-input-row">
			<textarea id='question' class="mui-input-clear question" placeholder="请说说现在的想法和感受..."></textarea>
		</div>
		<p>图片(选填,提供问题截图,总大小10M以下)</p>
		<div id="image-list" class="row image-list">
			
		</div>
		<p>所在位置：北京市海淀区颐和园风景区</p>
		<br />
		</div>

		<script src="../../js/mui.min.js"></script>

		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				var path = self.path;
				var img = document.createElement('img');
				img.src=path;
				document.getElementById('image-1').appendChild(img);
				console.log(path);
			});
		</script>
		<script type="text/javascript" src="../../js/weibo/weibo_add.js"></script>
	</body>

</html>