@using ImModel.ViewModel
@using ImPinker.Common
@{
    var list = (List<ArticleViewModel>)Model;
}
<!-- Swiper -->
<div class="swiper-container" style="width: 1100px; height: 300px;">
    <div class="swiper-wrapper">
        @{
            var pages = Math.Ceiling(list.Count / 3.0);
            for (var i = 0; i < pages; i++)
            {
                <div class="swiper-slide">
                    @{
                for (var j = 0; j < 3; j++)
                {
                    var vm = list[i * 3 + j];
                    <a href="/Article/Index?id=@vm.Id" target="_blank">
                        <img src="@ImageUrlHelper.GetArticleCoverImage(vm.CoverImage, 0)" />
                    </a>
                }
                    }
                </div>
            }
        }
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

