@using ImModel.ViewModel
@using ImageUrlHelper = ImBLL.ImageUrlHelper
@{
    var list = (List<ArticleViewModel>)Model;
}
<!-- Swiper -->
<div class="swiper-container" style="width: 1100px; height: 300px;">
    <div class="swiper-wrapper">
        @{
            var pages = Math.Ceiling(list.Count / 3.0);
            for (var i = 0; i < pages; i++)
            {
                
                for (var j = 0; j < 3; j++)
                {
                    if (i * 3 + j >= list.Count) { break; }
                    var vm = list[i * 3 + j];
                    <div class="swiper-slide img-box">
                        <a class="img-box" href="/Article/Index?id=@vm.Id" target="_blank">
                            <img src="@ImageUrlHelper.GetArticleImage(vm.CoverImage, 360)" />
                        </a>
                        <div class="title-box">
                                <label>@vm.ArticleName</label>
                            </div>
                    </div>
                }


            }
}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

