@{
    ViewBag.Title = "关于车酷";
    <link href="~/Content/about.css" rel="stylesheet" />
}
<div id="container" style="min-height: 600px;">
    <dl class="about-main">
        <dt>
            关于我们
        </dt>
        <dd class="article">
            <p>
                
            </p>
            <!--<p>5X兴趣社区涵盖了百余种生活中不同的兴趣，不论是你的想得到的，还是想不到的，这里都会有你的一片专属天地。</p>-->
            <!--<p>十余个精品选题可以让你轻松找到优质帖子内容，提升阅读效率，改变传统的阅读查找思维。</p>-->
            <!--<p>在这里，你可以尽情的和拥有共同兴趣的伙伴分享经验，比拼装备，切磋玩法。</p>-->
            <!--<div class="weibo"><a href="http://www.weibo.com/Spark2015" target="_blank"><img src="images/about-weibo.png"></a></div>-->
            <!--<div class="app">-->
            <!--<img src="images/about-ios.png">-->
            <!--<img src="images/about-android.png">-->
            <!--</div>-->
        </dd>


        <dt>联系我们</dt>
        <dd class="article">
            <p>公司名称：	北京斯帕克科技有限公司</p>
            <p>公司地址：	北京市海淀区北坞村路甲25号静芯园L座北楼三层</p>
            <p>联系电话：	010-68640392</p>
            <p>客服邮箱：	customer@int-spark.com</p>
            <p>联 系 人：	5X兴趣社区</p>
        </dd>

    </dl>


</div>
<div class="clear"></div>