@{
    ViewBag.Title = "关于车酷";
    <link href="~/Content/about.css" rel="stylesheet" />
}
<div id="container" style="min-height: 600px;">
    <dl class="about-main">
        <dt>
            关于车酷
        </dt>
        <dd class="article">
            <p>
                车酷——爱车人的梦想车库。
            </p>
            <p>
                车酷致力于打造最人性化的、和谐的汽车生活社区。在这里您可以浏览优质的汽车相关的信息，包括用车、自驾游、改装等等。同时，您可以分享您的用车心得，自驾游经历等等。
            </p>
            <p>
                车酷搜索基于大数据算法，遴选网络上优质的汽车类资讯，提供一种优质、简洁、舒适的全新阅读方式，为您推荐最为优质的汽车类资讯，自驾游记录，生活记录等等。总之，一切与汽车相关的，车酷都会提供给您。
            </p>
            <p>
                无论您是老司机还是马露莎，无论您是越野老炮还是秋名山车神，只要您爱车懂车，都可以在这里找到组织。优质的汽车生活，从车酷开始。
            </p>
            <!--<p>十余个精品选题可以让你轻松找到优质帖子内容，提升阅读效率，改变传统的阅读查找思维。</p>-->
            <!--<p>在这里，你可以尽情的和拥有共同兴趣的伙伴分享经验，比拼装备，切磋玩法。</p>-->
            <!--<div class="weibo"><a href="" target="_blank"><img src="images/about-weibo.png"></a></div>-->
            <!--<div class="app">-->
            <!--<img src="images/about-ios.png">-->
            <img src="/content/image/qrcode_for_gh_7f5be927b079_258.jpg">
            <p>请关注车酷公众号</p>
            <!--</div>-->
        </dd>


        <dt>联系我们</dt>
        <dd class="article">
            @*<p>公司名称：	北京斯帕克科技有限公司</p>
            <p>公司地址：	北京市海淀区北坞村路甲25号静芯园L座北楼三层</p>*@
            <p>QQ：	1127942005</p>
            <p>电话：	18211101215</p>
            <p>客服邮箱：	myautos@sina.cn</p>
        </dd>

    </dl>
</div>
<div class="clear"></div>