@{
    ViewBag.Title = "Engine Start";
}
@Html.Partial("_TabListPartial")
<div class="topic-list"><p>今日新增320篇文章。车酷：精致的汽车生活社群</p></div>
<ul class="topic-list" id="articleConten"></ul>
<div class="clear"></div>
<div class="topic-list">
    <a href="javascript:;" id="load-more-topic">加载更多</a>
</div>

@section scripts
{
    <script type="text/javascript">
        var pageCount = @ViewBag.pageCount;
        var pageIndex = 1;
        var jsonData = @Html.Raw(ViewBag.ArticleJson);
        //tab导航选中状态
        $(document).ready(function() {
            $("#tabList a").bind("click", function() {
                $("#tabList a").removeClass("b_twolcur");
                $(this).addClass("b_twolcur");
            });
        });
    </script>
    <script src="~/Scripts/Home/index.js"></script>
    <script src="~/Scripts/ArticleVote/articleVote.js"></script>
    <script type="text/template1">
        <li threadid="108832">
            <a href="/Article/Index?id=$Id$" target="_blank" class="img-box">
                <img src="$CoverImage$" alt="$ArticleName$">
            </a>
            <span class="topic-info-box">
                <a href="/Search/Index?key=$KeyWords$" target="_blank" class="topic-lab"
                   topicid="3" style="background: rgb(46, 75, 107);">$KeyWords$<i></i></a>
                <em class="topic-pub-time">$CreateTimeStr$</em>
            </span>
            <h3 class="topic-title"><a href="/Article/Index?id=$Id$" target="_blank">$ArticleName$</a></h3>
            <div class="topic-user-info">
                <a href="/lookat/home?userId=35983" target="_blank" class="user-info">
                    <span>
                        $Company$
                    </span>
                </a>
                <div class="about-count">
                    <span class="click-count"><i></i><b>181</b></span>
                    <span class="praise-count" articleid="$Id$"><i></i><b>喜欢，点个赞</b></span>
                </div>
            </div>
        </li>
    </script>
}
