@using ImModel.ViewModel
@{
    ViewBag.Title = "车酷-MyAutos";
}
<div class="dialog-layer" style="display: none;">
    <div id="dialog" style="top: 200px;">
        <p>点赞成功！</p>
        <div class="button-box">
            <a href="javascript:;" class="cancel" style="display: none;">取消</a>
            <a href="javascript:;" class="confirm" style="border-color: rgb(33, 117, 208); background: rgb(33, 117, 208);">确定</a>
        </div>
    </div>
</div>
@Html.Partial("_TabListPartial")
<div class="topic-list"><p>今日新增 @ViewBag.DailyAdded 篇文章。</p></div>
<ul class="topic-list" id="articleConten">
    @{
        Html.RenderAction("GetNextPage", new { pageNum = 1, pageCount = 30 });
    }
</ul>
<div class="clear"></div>
<div class="topic-list">
    <a href="javascript:;" id="load-more-topic">加载更多</a>
</div>

@section scripts
{
    <script type="text/javascript">
        var pageCount = @ViewBag.pageCount;
        var pageIndex = 1;
        //tab导航选中状态
        $(document).ready(function() {
            $("#tabList a").bind("click", function() {
                $("#tabList a").removeClass("b_twolcur");
                $(this).addClass("b_twolcur");
            });
        });
    </script>
    <script src="~/Scripts/Home/index.js"></script>
    <script src="~/Scripts/ArticleVote/articleVote.js"></script>
}
