@{
    Layout = null;
    ViewBag.Title = "关于途迹";
    <link href="~/Content/mui.min.css" rel="stylesheet" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>关于途迹</title>
</head>
<body>
    <div class="mui-content-padded">
        <h3>关于我们</h3>

        <p>
            途迹——记录真实旅行。
        </p>
        <p>
            途迹致力于打造最人性化的、和谐的旅行、自驾游社区。
        </p>
        <p>
            可以发现附近好玩的地方，也可以即时分享您的旅行动态。
        </p>
        <p>
            随时记录旅行的美好瞬间，一键生成游记，留住您的美好回忆。
        </p>
        <p>
            途迹搜索基于大数据算法，为您推荐最为优质的汽车类资讯，自驾游记录，旅行攻略。
        </p>
        <p>
            随时随地，与好有分享，旅行途中，发现身边志同道合的朋友。
        </p>
        @*<p>
            无论您是老司机还是马露莎，无论您是越野老炮还是秋名山车神，只要您爱车懂车，都可以在这里找到组织。
        </p>*@
        <p>
            记录美好的旅途，从途迹开始。
        </p>

        <img src="/content/image/qrcode_for_gh_7f5be927b079_258.jpg">
        <p>请关注途迹公众号</p>


        <h3>联系我们</h3>
        @*<p>公司名称：	北京斯帕克科技有限公司</p>
            <p>公司地址：	北京市海淀区北坞村路甲25号静芯园L座北楼三层</p>*@
        <p>QQ：	1127942005</p>
        <p>电话：	18911186941</p>
        <p>客服邮箱：	myautos@sina.cn</p>
    </div>

</body>
</html>

