@using System.Collections.Specialized
@{
    ViewBag.Title = "Engine Start";
}
<!-----最外层---->
<div class="outter">
    <div class="wrap">
        <!-- 主体内容 -->
        <div class="lay-left">
            <div class="pos">
                @Html.Partial("_NavPartial")
                <!-----内容投放区域---->
                
                <section class="each_panel mt2">
                    <!-- news begin -->
                    <section class="new">
                        <ul id="f_inews_lis_ul">
                            <li>
                                <section class="new_img"><a href="http://m.fblife.com/rv/show_173475.html"><img src="http://img10.fblife.com/attachments/20160628/1467083384.jpg.160x120.jpg" /></a></section>
                                <section class="new_txt">
                                    <p><a href="http://m.fblife.com/rv/show_173475.html">中考考点现200万豪车陪考</a></p>
                                    <section>6月27日，长春市中考第一天，在长春市第五十二中学考点门...</section>
                                    <section>
                                        <div class="new_time">06-28</div>
                                        <div class="new_ly">0</div>
                                        <div class="clear"></div>
                                    </section>
                                </section>
                            </li>
                            <li>
                                <section class="new_img"><a href="http://m.fblife.com/rv/show_173473.html"><img src="http://img10.fblife.com/attachments/20160628/1467081817.png.160x120.jpg" /></a></section>
                                <section class="new_txt">
                                    <p><a href="http://m.fblife.com/rv/show_173473.html">山西省内首届大型户外帐篷音乐嘉年华成功举办</a></p>
                                    <section>“山西省首届帐篷音乐嘉年华”是该省首个大型户外帐篷音...</section>
                                    <section>
                                        <div class="new_time">06-28</div>
                                        <div class="new_ly">0</div>
                                        <div class="clear"></div>
                                    </section>
                                </section>
                            </li>
                            <li>
                                <section class="new_img"><a href="http://m.fblife.com/rv/show_173472.html"><img src="http://img10.fblife.com/attachments/20160628/1467081816.jpg.160x120.jpg" /></a></section>
                                <section class="new_txt">
                                    <p><a href="http://m.fblife.com/rv/show_173472.html">中国露营地运营论坛成功举办</a></p>
                                    <section>2016年6月25日，中国露营地运营“1+10城市论坛”在北京石...</section>
                                    <section>
                                        <div class="new_time">06-28</div>
                                        <div class="new_ly">0</div>
                                        <div class="clear"></div>
                                    </section>
                                </section>
                            </li>
                            <li>
                                <section class="new_img"><a href="http://m.fblife.com/rv/show_173470.html"><img src="http://img10.fblife.com/attachments/20160628/1467081445.jpg.160x120.jpg" /></a></section>
                                <section class="new_txt">
                                    <p><a href="http://m.fblife.com/rv/show_173470.html">Summit越野水滴房车发布</a></p>
                                    <section>美国Colorado水滴房车公司最新出品了他们的第四款房车Su...</section>
                                    <section>
                                        <div class="new_time">06-28</div>
                                        <div class="new_ly">0</div>
                                        <div class="clear"></div>
                                    </section>
                                </section>
                            </li>
                            <li>
                                <section class="new_img"><a href="http://m.fblife.com/rv/show_173471.html"><img src="http://img10.fblife.com/attachments/20160628/1467081646.jpg.160x120.jpg" /></a></section>
                                <section class="new_txt">
                                    <p><a href="http://m.fblife.com/rv/show_173471.html">西岭雪山浩瀚无垠的星空</a></p>
                                    <section>今年西岭雪山还推出了夏季新玩法，可以让游客在浩瀚星空...</section>
                                    <section>
                                        <div class="new_time">06-28</div>
                                        <div class="new_ly">0</div>
                                        <div class="clear"></div>
                                    </section>
                                </section>
                            </li>
                            <li>
                                <section class="new_img"><a href="http://m.fblife.com/rv/show_173469.html"><img src="http://img10.fblife.com/attachments/20160628/1467081234.jpg.160x120.jpg" /></a></section>
                                <section class="new_txt">
                                    <p><a href="http://m.fblife.com/rv/show_173469.html">这个夏日让我们出发露营吧</a></p>
                                    <section>指南君说：“ 不管你是有经验的驴友还是非专业的菜鸟，只...</section>
                                    <section>
                                        <div class="new_time">06-28</div>
                                        <div class="new_ly">0</div>
                                        <div class="clear"></div>
                                    </section>
                                </section>
                            </li>
                            <li>
                                <section class="new_img"><a href="http://m.fblife.com/rv/show_173464.html"><img src="http://img10.fblife.com/attachments/20160628/1467080107.jpg.160x120.jpg" /></a></section>
                                <section class="new_txt">
                                    <p><a href="http://m.fblife.com/rv/show_173464.html">房车旅行的正确打开方式</a></p>
                                    <section>我们憧憬游牧式的生活方式，热爱自然最原始的芬芳，当我...</section>
                                    <section>
                                        <div class="new_time">06-28</div>
                                        <div class="new_ly">0</div>
                                        <div class="clear"></div>
                                    </section>
                                </section>
                            </li>
                            <li>
                                <section class="new_img"><a href="http://m.fblife.com/rv/show_173465.html"><img src="http://img10.fblife.com/attachments/20160628/1467080109.jpg.160x120.jpg" /></a></section>
                                <section class="new_txt">
                                    <p><a href="http://m.fblife.com/rv/show_173465.html">对外公布了两条新的桂林红色生态旅游线路</a></p>
                                    <section>两条线路将桂林红色之旅、生态之旅、民俗之旅完美融合，...</section>
                                    <section>
                                        <div class="new_time">06-28</div>
                                        <div class="new_ly">0</div>
                                        <div class="clear"></div>
                                    </section>
                                </section>
                            </li>
                            <li>
                                <section class="new_img"><a href="http://m.fblife.com/sports/show_173456.html"><img src="http://img10.fblife.com/attachments/20160628/1467071954.jpg.160x120.jpg" /></a></section>
                                <section class="new_txt">
                                    <p><a href="http://m.fblife.com/sports/show_173456.html">卢卡斯越野赛第7/8回合</a></p>
                                    <section>卢卡斯越野系列赛（Lucas Oil Off-Road Racing Series）...</section>
                                    <section>
                                        <div class="new_time">06-28</div>
                                        <div class="new_ly">0</div>
                                        <div class="clear"></div>
                                    </section>
                                </section>
                            </li>
                            <li>
                                <section class="new_img"><a href="http://m.fblife.com/culture/show_172744.html"><img src="http://img10.fblife.com/attachments/20160606/1465197772.jpg.160x120.jpg" /></a></section>
                                <section class="new_txt">
                                    <p><a href="http://m.fblife.com/culture/show_172744.html">浅谈热管理系统对越野的重要性</a></p>
                                    <section>“热管理”对于编辑以及各位看官而言是一个太过学术的名...</section>
                                    <section>
                                        <div class="new_time">06-28</div>
                                        <div class="new_ly">3</div>
                                        <div class="clear"></div>
                                    </section>
                                </section>
                            </li>
                        </ul>
                        <div class="f_loadimg" id="f_loadimg" style="display: none;">
                            <img src="http://static.fblife.com/static/wapnews/newwapnew/images/loading.gif">
                        </div>
                        <div class="f_ionload" id="div_getmorenews">
                            <span style="color:red;font-size:14px;display:none;" id="span_timeout">加载超时</span>
                            <a href="javascript:void(0)" id="a_getmorenews">点击加载更多</a>
                        </div>
                    </section>
                    <!-- news over -->
                </section>
                @Html.Partial("_FootPartial")
                <!-----!内容投放区域---->
            </div>
        </div>
    </div>
</div>