@using System.Collections.Specialized
@{
    ViewBag.Title = "Engine Start";
}
<!-----最外层---->
<div class="outter">
    <div class="wrap">
        <!-- 主体内容 -->
        <div class="lay-left">
            <div class="pos">
                @Html.Partial("_NavPartial")
                <!-----内容投放区域---->
                <section class="each_panel">
                    <!-- news begin -->
                    <section class="new">
                        <ul id="articleConten">
                            
                        </ul>
                        <div class="f_loadimg" id="f_loadimg" style="display: none;">
                            <img src="http://static.fblife.com/static/wapnews/newwapnew/images/loading.gif">
                        </div>
                        <div class="f_ionload" id="loadmore">
                            <span style="color: red; font-size: 14px; display: none;" id="span_timeout">加载超时</span>
                            <a href="javascript:void(0)" id="a_getmorenews">点击加载更多</a>
                        </div>
                    </section>
                    <!-- news over -->
                </section>
                @Html.Partial("_FootPartial")
                <!-----!内容投放区域---->
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var pageCount = @ViewBag.pageCount;
        var pageIndex = 1;
        var jsonData=@Html.Raw(ViewBag.ArticleJson);
    </script>
    <script src="~/Scripts/Home/index.js"></script>
    <script type="text/template1">
        <li>
            <section class="new_img"><a href="$ArticleUrl$">
                                         <img src="$CoverImage$" /></a></section>
            <section class="new_txt">
                <p>
                    <a href="$ArticleUrl$">$ArticleName$</a>
                </p>
                <section>$Description$...</section>
                <section>
                    <div class="new_time">$CreateTime$</div>
                    <div class="new_ly">0</div>
                    <div class="clear"></div>
                </section>
            </section>
        </li>
    </script>
}