#comment {
	background-color: ghostwhite;
	padding: 10px 10px 10px 10px;
}

.mui-content .mui-inline {
    vertical-align: bottom;
    font-size: 14px;
    color: #8f8f94;
}

.mui-content textarea {
    height: 100px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.mui-content .emotion{
	margin: 10px;
}

#comment_submit{
	margin: 10px;
}

.comment-list {
	padding: 10px 0px 0px 0px;
	border-top: .5px solid #ece4e4;
}

.comment-list:first-child {
	border-top: none;
}

.comment-list dt .headpic {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 8px;
	vertical-align: middle;
	overflow: hidden;
	margin-right: 2px;
}
.comment-list dt .headpic img{
	width: 30px;
	height: 30px;
}

.comment-list dt .userinfo {
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color: #5b4646;
}

.comment-list dt .userinfo p{
	font-size: 10px;

}

.comment-list dt .commentvote {
	float: right;
}

.comment-list dd {
	margin-top: 10px;
	margin-left: 33px;
}

.comment-list dd p {
	font-size: 15px;
	color: #888;
	line-height: 1.5em;
}

.comment-list .quote {
	padding: 10px;
	background: #d3d3e7;
	border: 1px solid #f8f8fb;
	border: .5px solid #f8f8fb;
	border-radius: 5px;
	margin: 10px 20px 0 35px;
}