.content {
	width: 90%;
}


/*取消li 点击背景变灰效果*/

.mui-scroll .weibo-card {
	position: relative;
	overflow: hidden;
	padding: 11px 15px;
	list-style: none;
	/*border-bottom: 1px solid #eceff4;*/
}

.mui-scroll .weibo-card:after {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #ECEFF4;
}


.user_info {
	width: 100%;
}

.user_info img {
	width: 33px;
	height: 33px;
	border-radius: 50%;
}

.user_info .name {
	padding-left: 7px;
	line-height: 35px;
	color: #b5bebf;
	;
	font-size: 14px;
	vertical-align: top;
}

.user_detail {
	/*width: 90%;*/
	padding-left: 44px;
}

.user_detail .text {
	color: #454f5b;
	font-size: 16px;
	margin-top: -10px;
}

.list_img {
	margin-top: 10px;
	/*margin-bottom: 8px;*/
	overflow: hidden;
	width: 100%;
}

.list_img a img {
	float: left;
	width: 90px;
	height: 90px;
	border-radius: 2px;
	margin-right: 5px;
	/*margin-top: 5px;*/
	margin-bottom: 5px;
}

.list_img .bigimage {
	width: 99%;
	height: 170px;
	border-radius: 2px;
}


/*地理位置*/

.user_detail .card-location {
	color: #b5bebf;
	font-size: 10px;
	margin-top: 1px;
}

.user_detail .card-location .mui-icon {
	font-size: 17px;
}

.user_news {
	position: relative;
	height: 20px;
	width: 99%;
}

.user_news .time {
	font-size: 12px;
	line-height: 20px;
	color: #bdc6d2;
	text-align: -webkit-left;
	float: left;
}

.user_news .detail {
	height: 20px;
	line-height: 20px;
	margin-left: 2px;
	float: right;
}

.svg-icon {
	width: 16px;
	height: 16px;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

.detail .love {
	width: 16%;
	color: #bdc6d2;
	/*margin-right: 1rem;*/
}

.detail span {
		font-size: 12px;
		margin-left: 5px;
		margin-bottom: 3px;
		color: #bdc6d2;
}

/*.detail .love span {
	font-size: 12px;
	margin-left: 5px;
	margin-bottom: 3px;
}

.detail .comment {
	width: 25%;
	color: #bdc6d2;
}

.detail .comment span {
	font-size: 12px;
	margin-left: 5px;
	margin-bottom: 3px;
}*/


/*.user_news .love {
	font-size: 9px;
	line-height: 16px;
	height: 16px;
	width: 20%;
	color: #bdc6d2;
	text-align: -webkit-center;
	background: url(../../img/zan.png) no-repeat left;
	background-size: 16px;
	padding-left: 12px;
	float: right;
}

.user_news .comment {
	font-size: 9px;
	line-height: 16px;
	height: 16px;
	width: 20%;
	color: #bdc6d2;
	text-align: -webkit-center;
	background: url(../../img/pinglun.png) no-repeat left;
	background-size: 16px;
	float: right;
}*/


/*手机屏幕在375px时*/

@media only screen and (min-width:375px) {
	.user_news .love {
		font-size: 9px;
		line-height: 16px;
		height: 16px;
		width: 16%;
		color: #bdc6d2;
		text-align: -webkit-center;
		/*background: url(../../img/zan.png) no-repeat left;*/
		background-size: 16px;
	}
	.svg-icon {
		width: 16px;
		height: 16px;
		vertical-align: -0.15em;
		fill: currentColor;
		overflow: hidden;
	}
	/*.detail .love {
		width: 16%;
		color: #bdc6d2;
	}*/
	.detail span {
		font-size: 12px;
		margin-left: 5px;
		margin-bottom: 3px;
		color: #bdc6d2;
	}
	/*.detail .comment {
		width: 25%;
		color: #bdc6d2;
	}*/
	/*.detail .comment span {
		font-size: 12px;
		margin-left: 5px;
		margin-bottom: 3px;
	}*/
}


/*手机屏幕在414px时*/

@media only screen and (min-width:414px) {
	
	.list_img a img {
		float: left;
		width: 90px;
		height: 90px;
		border-radius: 2px;
		margin-right: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}