html,
body {
	background-color: #efeff4;
}

#newweibo .mui-icon {
	width: 40px;
	height: 40px;
	font-size: 40px;
	color: red;
	top: -3px;
}

.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

.zhezhaoDiv {
	position: fixed;
	z-index: 998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fafafa;
	/*display: none;*/
}