.mui-scroll .mui-card {
	margin: 0 0 5px 0;
}

.mui-card-header.mui-card-media {
	display: block;
	padding: 6px 0 6px 10px;
}

.mui-card-header.mui-card-media img {
	border-radius: 4px;
}

.mui-card-header .mui-media-body em {
	font-size: 15px;
}

.mui-card-header.mui-card-media .mui-media-body p {
	font-size: 11px;
	margin-top: 3px;
}

.mui-card .mui-card-content {
	padding: 5px 5px 5px 10px;
	margin: inherit;
	margin-bottom: initial;
}

.mui-card .mui-card-content p {
	margin-bottom: 0px;
}

.mui-card .card-location {
	color: #b5bebf;
	font-size: 13px;
	margin-top: 3px;
}

.mui-card .card-location .mui-icon {
	font-size: 15px;
}

.mui-card .mui-card-footer {
	padding: 4px 45px;
	min-height: 30px;
}

.mui-card-footer em {
	font-size: 10px;
}


.mui-card .mui-card-content .bigimage {
	width: 90%;
	max-height: 13.5rem;
}

.mui-pull-bottom-pocket,
.mui-pull-top-pocket {
	height: 60px;
}

.media-pic {
	text-align: left;
	margin: .3125rem 0 0 0;
	max-width: 90%;
	max-height: 13.5rem;
	overflow: hidden;
}

.media-pic-list {
	overflow: hidden;
	width: 21.5rem;
	margin-top: .4375rem;
}

.media-pic-list ul {
	margin-top: -.3125rem;
	list-style: none;
	padding: 2px 5px 0 0px;
}

.media-pic-list li {
	float: left;
	width: 6.75rem;
	height: 5.75rem;
	margin: .3125rem .3125rem 0 0;
}

.media-pic-list li img {
	height: 5.75rem;
	width: 6.75rem;
	vertical-align: text-bottom;
}